<div class="rectangle">
    <div class="header">
        <h1 class="cheader">KingKong KVKK ve ÇEREZLER</h1>
        <img src="../../../assets/modal-close.svg" alt="">
    </div>
    <div class="content">
        <p class="ctext">İnternet sitemizde sizlere daha iyi bir hizmet sunabilmek için çerez kullanıyoruz. Konu ile ilgili daha
            detaylı bilgi almak için Çerez Bilgilendirme Metni'ni
            ve internet sitemiz kapsamındaki kişisel veri işleme faaliyetlerimize ilişkin bilgi almak için İnternet
            Sitesi KVK Bilgilendirme Metni'ni ziyaret edebilirsiniz.</p>

        <button class="accept-cookies">Kabul</button>
    </div>
</div>