<!-- <div class="main">
  <div class="text-container">
    <h5 class="text-1">NEDEN KINGKONG?</h5>
    <h1 class="text-2">KingKong<br />Dünyasında</h1>
    <h1 class="text-3">Neler<br />Yapabilirsiniz?</h1>
  </div>

  <div id="slider-cover">
    <div class="card" *ngFor="let item of imgs; let i = index">
      <img [src]="'../../../assets/cards/'+item.img" alt="" class="card-img"/>
      <div class="card-content">
        <img [src]="'../../../assets/cards/'+item.icon" alt="" class="card-icon" />
        <h3 class="card-text"> {{item.title}} </h3>
        <p class="card-sub"> {{item.sub}} </p>
        <p class="card-detail">Detaylı Bilgi</p>
      </div>
    </div>
  </div>
  <div class="buttons" >
    <img src="../../../assets/cards/l-arrow.svg" alt="" class="arrow" />
    <img src="../../../assets/cards/seperator.svg" alt="" class="seperator" />
    <img src="../../../assets/cards/r-arrow.svg" alt="" class="arrow"  />
  </div>
</div> -->

<div class="main-container4">
  <div class="text-container">
    <h5 class="text-1">NEDEN KINGKONG?</h5>
    <h1 class="text-2">KingKong Dünyasında</h1>
    <h1 class="text-3">Neler Yapabilirsiniz?</h1>
  </div>
  <div id="slider-cover">
    <div class="card-cont" [ngClass]="'card-cont-'+i" *ngFor="let item of imgs; let i = index">
      <img [src]="'../../../assets/cards/'+item.img" alt="" class="card-image" />
      <div class="card-content">
        <img [src]="'../../../assets/cards/'+item.icon" alt="" class="card-icon" />
        <h3 class="card-text"> {{item.title}} </h3>
        <p class="card-sub"> {{item.sub}} </p>
        <!-- <p class="card-detail">Detaylı Bilgi</p> -->
      </div>
    </div>
  </div>

  <div class="specs">
    <div class="viewmore" (click)="openSmart(specs)">
      <div>Akıllı KingKong Özellikleri</div>
    </div>
  </div>

  <!-- <div class="buttons" >
    <img src="../../../assets/cards/l-arrow.svg" alt="" class="arrow" (click)="activeImg < imgs.length + 1 ? prev() : null "/>
    <img src="../../../assets/cards/seperator.svg" alt="" class="seperator" />
    <img src="../../../assets/cards/r-arrow.svg" alt="" class="arrow" (click)="activeImg < imgs.length - 1 ? next() : prev()"/>
  </div> -->
</div>


<ng-template #specs let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal"></h4>

    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>

    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:19px;">Akıllı
          Sanal Asistan</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Her kullanıcıya
        &ouml;zel sanal asistan atanır. &nbsp;Etkinlik i&ccedil;inde kullanıcıyı, kullanıcının &ouml;zelliklerine
        g&ouml;re y&ouml;nlendirir. İlgi alanlarına g&ouml;re doğru kişilerle bağlantı kurmasını sağlar, ilgi alanına
        g&ouml;re bilgilendirmeler yapar.&nbsp;</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
          style="font-size:19px;">Zenginleştirilmiş İletişim&nbsp;</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Y&uuml;ksek
        &ccedil;&ouml;z&uuml;n&uuml;rl&uuml;kl&uuml; ses ve g&ouml;r&uuml;nt&uuml; altyapısı ile &ouml;zel alanlarda,
        tekil ya da &ccedil;oklu g&ouml;r&uuml;şme se&ccedil;eneği sunar.&nbsp;</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
          style="font-size:19px;">Networking Se&ccedil;enekleri</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Kişileri
        taleplerine g&ouml;re farklı kişilerle bir araya getirerek bilgi alışverişi olanağı sağlar. Dijital vCard
        paylaşımı, linked-in gibi profesyonel platform entegrasyonları, anlık Clubhouse/King Talks oluşturma ve
        katılımı, &ouml;zel toplantılar gibi se&ccedil;enekler sunar.&nbsp;</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
          style="font-size:19px;">Toplantı Notları</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Uygulama
        i&ccedil;inden toplantı notları alınabilir, herhangi bir anda yeni bir not, yapılabilecekler listesi
        oluşturulabilir ve sonrasında katılımcılara e-mail olarak atılabilir.</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
          style="font-size:19px;">Y&uuml;ksek Performans</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">100K
        katılımcıya kadar katılımcıya ulaşma olanağı.&nbsp;</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
          style="font-size:19px;">Analitik Raporlama</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Kullanıcıların
        b&uuml;t&uuml;n davranışlarını, aldıkları her t&uuml;rl&uuml; aksiyon ve etkileşimi farklı raporlama
        se&ccedil;enekleriyle sunma &ouml;zelliği</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:19px;">Kolay
          Navigasyon</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">3 boyutlu
        ger&ccedil;ek deneyime ek olarak 2 boyutlu kullanım&nbsp;</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
          style="font-size:19px;">&Ouml;zel Odalar&nbsp;</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Etkinliklere
        &ouml;zel tasarlanmış 3D odalar.</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:19px;">Dinamik
          &amp; Kişiselleştirilmiş Markalama&nbsp;</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span
        style="font-size:19px;">Değiştirilebilen reklam alanları ve &ouml;zelleştirilmiş reklam g&ouml;sterim
        olanağı&nbsp;</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:19px;">Oyun
          alanları</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&Ouml;d&uuml;l
        kurgularının planlanabileceği markalama yapılabilecek tekli ya da &ccedil;oklu oyun se&ccedil;enekleri</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
          style="font-size:19px;">Backpack</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Kullanıcılara
        ait bir sırt &ccedil;antası ile event i&ccedil;inde toplanan dijital materyallerin toplanarak event sonrasında
        da kişilerin erişimine sunulması.</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:19px;">Stand
          Alanları</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Firmalara
        &ouml;zel kurguların ger&ccedil;ekleştirilmesi</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
          style="font-size:19px;">Anket&nbsp;</span></strong></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Ger&ccedil;ek
        zamanlı anketler d&uuml;zenlenerek, sonu&ccedil;ların istenildiği anda ve kullanıcıları odadan &ccedil;ıkarmadan
        paylaşılabilmesi&nbsp;</span></p>
  </div>
</ng-template>