.main-container4 {
	width: 100%;
	background: linear-gradient(113.32deg, #3f3d48 0%, #222127 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dott7 {
	position: absolute;
	left: 0;
	margin-top: -20%;
}
.dott8 {
	position: absolute;
	right: 0;
	margin-top: -15%;
}
.text-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 100px 0 20px 0;
}

.text-1 {
	font-family: "Playfair Display";
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	margin: 40px 0 0 0;
	color: var(--main-red);
}

.text-2 {
	font-family: "Playfair Display";
	font-weight: 400;
	font-size: 62px;
	line-height: 129%;
	margin: 10px 0 30px 0;
	color: white;
}

#slider-cover {
	width: 1240px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
}

.card-cont {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
}
.card-image {
	border-radius: 5px;
	width: 282.72px;
	height: 328.22px;
}

.card-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	text-align: start;
	color: #fff;
	z-index: 0;
	width: 250px;
	padding: 200px 0 20px 0;
}
.card-icon {
	width: 40px;
	height: auto;
}
.card-text {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 137%;
	margin: 15px 0 0 0;
}
.card-sub {
	font-family: "Gilroy-Light";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 137%;
	margin: 15px 0 0 0;
	display: none;
}
.hover2 {
	visibility: hidden;
}
:hover > .hover2 {
	display: block;
	visibility: visible;
}
.card-cont:hover > .card-image {
	filter: invert(25%) sepia(100%) hue-rotate(3550deg) saturate(800%);
}

.modal-body {
	color: #f0f0f0;
	font-size: 16px;
	font-weight: 200;
}
.viewmore {
	margin: 50px 0 150px 0;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 50px;
	/* border: 1px solid rgb(255, 255, 255); */
	color: white;
	font-family: "Poppins";
	font-size: 14px;
	cursor: pointer;
	background-color: var(--main-red);
}

.seperator {
	font-size: 50px;
	font-weight: 200;
	color: white;
	margin: 5px;
}

/* @media only screen and (max-width: 600px) {
	.text-container {
		margin-left: 5%;
	}
	.card-cont {
		margin-left: 5%;
	}
} */
