<!-- <div class="main">
  <div class="text-container">
    <h5 class="text-1">NEDEN KINGKONG?</h5>
    <h1 class="text-2">KingKong<br />Dünyasında</h1>
    <h1 class="text-3">Neler<br />Yapabilirsiniz?</h1>
  </div>

  <div id="slider-cover">
    <div class="card" *ngFor="let item of imgs; let i = index">
      <img [src]="'../../../assets/cards/'+item.img" alt="" class="card-img"/>
      <div class="card-content">
        <img [src]="'../../../assets/cards/'+item.icon" alt="" class="card-icon" />
        <h3 class="card-text"> {{item.title}} </h3>
        <p class="card-sub"> {{item.sub}} </p>
        <p class="card-detail">Detaylı Bilgi</p>
      </div>
    </div>
  </div>
  <div class="buttons" >
    <img src="../../../assets/cards/l-arrow.svg" alt="" class="arrow" />
    <img src="../../../assets/cards/seperator.svg" alt="" class="seperator" />
    <img src="../../../assets/cards/r-arrow.svg" alt="" class="arrow"  />
  </div>
</div> -->

<div class="main-container4">
  <img src="../../../assets/dots/w-hor.png" class="dott7" alt="">
  <img src="../../../assets/dots/w-hor.png" class="dott8" alt="">

  <div class="text-container">
    <h5 class="text-1">Neden KingKong?</h5>
    <h1 class="text-2">KingKong Dünyasında <br> Neler Yapabilirsiniz?</h1>
  </div>
  <div id="slider-cover">
    <div class="card-cont" id="deneme" [ngClass]="'card-cont-'+i" *ngFor="let item of imgs1; let i = index" >
      <img [src]="'../../../assets/cards/'+item.img" alt="" class="card-image" />
      <div class="card-content">
        <img [src]="'../../../assets/cards/'+item.icon" alt="" class="card-icon" />
        <h3 class="card-text"> {{item.title}} </h3>
        <!-- <div (mouseover)="changeText=true" (mouseout)="changeText=false">
          <span *ngIf="!changeText">Hide</span>
          <span *ngIf="changeText">Show</span>
        </div> -->
          <p class="card-sub hover2">{{item.sub}} </p>
        <!-- <p class="card-detail">Detaylı Bilgi</p> -->
      </div>
    </div>
    <!-- 12 cards -->
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap" *ngIf="isShown1">
      <div class="card-cont" [ngClass]="'card-cont-'+i" *ngFor="let item of imgs; let i = index" >
        <img [src]="'../../../assets/cards/'+item.img" alt="" class="card-image" />
        <div class="card-content">
          <img [src]="'../../../assets/cards/'+item.icon" alt="" class="card-icon" />
          <h3 class="card-text"> {{item.title}} </h3>
            <p class="card-sub hover2">{{item.sub}} </p>
          <!-- <p class="card-detail">Detaylı Bilgi</p> -->
        </div>
      </div>
      <!-- <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div>
      <div class="card-cont">
        <img src="../../../assets/cards/card1.png" alt="" class="card-image" />
        <div class="card-content">
          <img src="../../../assets/cards/chat.svg" alt="" class="card-icon" />
          <h3 class="card-text"> Title</h3>
          <p class="card-sub"> Subtitle</p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="viewmore" (click)="loadmore()">
    <div> {{ clicked ? 'Daha az' : 'Daha fazla' }} </div>
  </div>
</div>
  <!-- <div class="specs">
    <div class="viewmore" (click)="openSmart(specs)">
      <div>Akıllı KingKong Özellikleri</div>
    </div>
  </div> -->

<!-- <ng-template #specs let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal">Akıllı KingKong Özellikleri</h4>

    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>
  </div>
  <div class="modal-body">
   <p><b>Akıllı Sanal Asistan</b></p>
   <p>Her kullanıcıya özel sanal asistan atanır.  Etkinlik içinde kullanıcıyı, kullanıcının özelliklerine göre yönlendirir. İlgi alanlarına göre doğru kişilerle bağlantı kurmasını sağlar, ilgi alanına göre bilgilendirmeler yapar. </p>
    <p><b>Zenginleştirilmiş İletişim </b></p> 
    <p>Yüksek çözünürlüklü ses ve görüntü altyapısı ile özel alanlarda, tekil ya da çoklu görüşme seçeneği sunar. </p>
    <p><b>Networking Seçenekleri</b></p>
    <p>Kişileri taleplerine göre farklı kişilerle bir araya getirerek bilgi alışverişi olanağı sağlar. Dijital vCard paylaşımı, linked-in gibi profesyonel platform entegrasyonları, anlık Clubhouse/King Talks oluşturma ve katılımı, özel toplantılar gibi seçenekler sunar. </p>
    <p><b>Toplantı Notları</b></p>
    <p>Uygulama içinden toplantı notları alınabilir, herhangi bir anda yeni bir not, yapılabilecekler listesi oluşturulabilir ve sonrasında katılımcılara e-mail olarak atılabilir.</p>
    <p><b>Yüksek Performans</b></p>
    <p>100K katılımcıya kadar katılımcıya ulaşma olanağı.</p>
    <p><b>Analitik Raporlama</b></p>
    <p>Kullanıcıların bütün davranışlarını, aldıkları her türlü aksiyon ve etkileşimi farklı raporlama seçenekleriyle sunma özelliği</p>
    <p><b>Kolay Navigasyon</b></p>
    <p>3 boyutlu gerçek deneyime ek olarak 2 boyutlu kullanım.</p>
    <p><b>Özel Odalar</b></p>
    <p>Etkinliklere özel tasarlanmış 3D odalar.</p>
    <p><b>Dinamik & Kişiselleştirilmiş Markalama </b></p>
    <p>eğiştirilebilen reklam alanları ve özelleştirilmiş reklam gösterim olanağı.</p>
    <p><b>Oyun alanları</b></p>
    <p>Ödül kurgularının planlanabileceği markalama yapılabilecek tekli ya da çoklu oyun seçenekleri.</p>
    <p><b>Backpack</b></p>
    <p>Kullanıcılara ait bir sırt çantası ile event içinde toplanan dijital materyallerin toplanarak event sonrasında da kişilerin erişimine sunulması.</p>
    <p><b>Stand Alanları</b></p>
    <p>Firmalara özel kurguların gerçekleştirilmesi</p>
    <p><b>Anket</b></p>
    <p>Gerçek zamanlı anketler düzenlenerek, sonuçların istenildiği anda ve kullanıcıları odadan çıkarmadan paylaşılabilmesi </p>

  </div>
</ng-template> -->