.main-container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.img-container {
  display: flex;
}
.video1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 595px;
  height: 397px;
  z-index: 3;
  margin-top: 40px;
}
.video-back {
  position: absolute;
  z-index: 1;
  margin-top: 350px;
  right: 0;
}
.video2 {
  width: 650px;
  height: 391px;
  border-radius: 10px;
}
.play-button {
  position: absolute;
  margin-left: 230px;
  z-index: 5;
  cursor: pointer;
}
.dot-red {
  position: absolute;
  z-index: 12;
  margin-top: 200px;
  margin-left: 400px;
}
.dot-white {
  position: absolute;
  z-index: 12;
  margin-top: 400px;
  right: 0;
  margin-right: 100px;
}
.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
.video-pop {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 40%;
  margin: 0 0 4% 10%;
}
.text-head {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 62px;
  line-height: 129%;
  color: var(--main-black);
  margin-top: 70px;
}
.text-bold {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 50px;
  color: var(--main-black);
  margin: 20px 0 0 0;
}

.text-2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  margin: 20px 0 0 0;
}

.text-3 {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: var(--main-grey);
}
.bullet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 20px 0 0 0;

}
.list-bullet {
    width: 30px;
    margin-right: 10px;
}
