<div class="main-container2">
  <div class="text-container">
    <h1 class="text-head">KingKong Dünyasında</h1>
    <h1 class="text-bold">Her Şey Çok Farklı!</h1>
    <h5 class="text-3">
      Akıllı etkinlik sistemi KingKong dünyasında yazılımdan tasarıma her şey size özeldir. <br>

      KingKong tasarımları ve uzmanlığı size unutulmaz bir toplantı deneyimi yaşatır.
      
    </h5>
    <div class="bullet">
        <img src="../../../assets/red-crown.svg" alt="" class="list-bullet" >
        <h6 class="text-3">Sanal Event Yönetim Uzmanlığı</h6>
    </div>
    <div class="bullet">
        <img src="../../../assets/red-crown.svg" alt="" class="list-bullet" >
        <h6 class="text-3">Profesyonel Prodüksiyon Ekibi</h6>
    </div>
    <div class="bullet">
        <img src="../../../assets/red-crown.svg" alt="" class="list-bullet" >
        <h6 class="text-3">KingKong Tasarımları</h6>
    </div>
    <!-- <div class="carousel-viewmore">
      <div>Detaylı Bilgi</div>
      <div>></div>
    </div> -->
  </div>
  <div class="img-container">
    <div class="play" (click)="openVid2(vid2)" >
      <img src="../../../assets/video/play.svg" alt="" class="play-button">
    </div>
    <div class="dot-red">
      <img src="../../../assets/video/dots-1.svg" alt="">
    </div>
    <div class="dot-white">
      <img src="../../../assets/video/dots.svg" alt="">
    </div>
    <div class="video1">
      <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="video1">
        <source src="../../../assets/video/video-short.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="video-back">
      <img src="../../../assets/video/video-back.webp" alt="" class="video2" >
    </div>
  </div>
</div>



<ng-template #vid2 let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal"></h4>

      <button href="" class="close-button"  (click)="modal.close('Cross click')" aria-hidden="true" ><img src="../../../assets/modal-close.svg" alt=""></button>

    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <video loop muted autoplay controls oncanplay="this.play()" controlsList="nodownload" class="video-pop">
      <source src="https://player.vimeo.com/external/546007863.hd.mp4?s=e45ccf0c4b0a89930027e4cc87569d2abd9a5c6d&profile_id=175" type="video/mp4" />
    </video>
  </div>
</ng-template>