<div class="main-container3">
  <div class="header">
    <img src="../../../assets/red-crown.svg" alt="" class="logo-red" />
    <div class="heading">
      <h1 class="text-head1">KingKong</h1>
      <h1 class="text-head1">&nbsp;Nasıl&nbsp;Çalışır?</h1>
    </div>
  </div>
  <div class="contents">
    <div class="card-container2">
      <div class="icon-container1"></div>
      <h1 class="text-card-head">Toplantı</h1>
      <p class="text-card">
        Etkinliğinizin detaylarını ve gereksinimlerini öğrenmek için sizinle bir
        toplantı organize eder.
      </p>
    </div>
    <div class="card-container2">
      <!-- <img src="../../../assets/how/PaketButce.svg" alt="" /> -->
      <div class="icon-container2"></div>
      <h1 class="text-card-head">Bütçe</h1>
      <p class="text-card">
        Bu detaylar ve ihtiyaçlar doğrultusunda size özel bir paket ve bütçe
        hazırlar.
      </p>
    </div>
    <div class="card-container2">
      <!-- <img src="../../../assets/how/umbrella.svg" alt="" /> -->
      <div class="icon-container3"></div>
      <h1 class="text-card-head">Teknik Destek</h1>
      <p class="text-card">
        Etkinliğinizi tüm yönleriyle başarıya ulaşmasını sağlayacak teknik ve
        lojistik unsurları yönetir.
      </p>
    </div>
  </div>
  <div class="contact-us" >
    <!-- <div class="contact-us"  (click)="scrollFooter()" > -->
    <!-- <div><a href="mailto:kingkongistanbul@gmail.com" style="text-decoration: none;color: white;" target="_blank">Bize Ulaşın</a></div> -->
    <div (click)="openContact(contact)">Bize Ulaşın</div>
    <div>></div>
  </div>
</div>

<!-- İletişim -->
<ng-template #contact let-modal>
  <div class="modal-container">
    <div class="modal-content2">
      <h1 class="modal-head">İletişim</h1>
      <ul class="modal-txt" style="list-style: none;padding: 0;">
        <li style="margin-top: 10px;"><img src="../../../assets/footer/pin-3 1.svg" style="margin-right: 20px;"
            alt="">Büyükdere Cad. Ecza Sok. No:6 Kat:1 34394 Levent – İstanbul</li>
        <!-- <li style="margin-top: 10px;"><img src="../../../assets/footer/phone 1.svg" style="margin-right: 20px;"
            alt="">0555 555 55 55</li> -->
        <li style="margin-top: 10px;"><img src="../../../assets/footer/letter 1.svg" style="margin-right: 20px;"
            alt="">info@kingkongistanbul.com</li>
      </ul>
    </div>
    <div class="mapouter">
      <button href="" class="close-button2" (click)="modal.close('Cross click')" aria-hidden="true"
        style="background-color: rgba(155, 155, 155, 0.25);"><img src="../../../assets/modal-close.svg" alt=""></button>
      <div class="gmap_canvas"><iframe width="550" height="520" id="gmap_canvas"
          src="https://maps.google.com/maps?q=B%C3%BCy%C3%BCkdere%20Cad.%20Ecza%20Sok.%20No:6%20Kat:1%2034394%20Levent%20%E2%80%93%20%C4%B0stanbul&t=&z=15&ie=UTF8&iwloc=&output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 520px;
            width: 550px;
          }
        </style>
        <style>
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 520px;
            width: 550px;
          }
        </style>
      </div>
    </div>

    <!-- <div class="modal-img-contact">
      <button href="" class="close-button2" (click)="modal.close('Cross click')" aria-hidden="true"><img
          src="../../../assets/modal-close.svg" alt=""></button>
    </div> -->
  </div>
</ng-template>