.main-container3 {
	width: 100%;
	/* background */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 50px 0 50px 0;
}
.logo-red {
	width: 55px;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.text-head1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	margin: 10px 0 0 0;
}
.text-head2 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	margin: 10px 0 0 0;
}
.contents {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.card-container2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 300px;
	height: 340px;
	padding: 20px;
	margin: 40px;
}

.card-container2:hover {
	box-shadow: 0px 4px 20px rgba(34, 33, 39, 0.2);
	border-radius: 10px;
}
.icon-container1 {
	width: 65px;
	height: 65px;
	background: url('../../../assets/how/presentation1-gri.svg') no-repeat;
	background-size: contain;
	margin-bottom: 20px;
}
.card-container2:hover > .icon-container1  {
	background: url('../../../assets/how/presentation1-kirmizi.svg') no-repeat;
}
.icon-container2 {
	width: 100px;
	height: 100px;
	background: url('../../../assets/how/PaketButce.svg') no-repeat;
	background-size: contain;
}
.card-container2:hover > .icon-container2  {
	background: url('../../../assets/how/paket-red.svg') no-repeat;
}
.icon-container3 {
	width: 65px;
	height: 65px;
	background: url('../../../assets/how/umbrella-13-gri.svg') no-repeat;
	background-size: contain;
	margin-bottom: 20px;
}
.card-container2:hover > .icon-container3 {
	background: url('../../../assets/how/umbrella-13-kirmizi.svg') no-repeat;
	background-size: contain;
}

.card-container2:hover > .text-card-head{
	color: var(--main-red);
}
.card-container2:hover > .text-card {
	color: var(--main-red);
}


.text-card-head {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	color: var(--main-black);
}

.text-card {
	font-family: "Gilroy-Light";
	font-style: normal;
	font-weight: normal;
	text-align: center;
	font-size: 16px;
	line-height: 150%;
	color: var(--main-grey);
}

.carousel-viewmore {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	cursor: pointer;
	width: 120px;
	border-radius: 50px;
	padding: 10px;
	background-color: var(--main-red);
	color: white;
	font-family: "Poppins";
	font-size: 14px;
}

.contact-us {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	cursor: pointer;
	width: 120px;
	border-radius: 50px;
	padding: 10px;
	background-color: var(--main-red);
	color: white;
	font-family: "Poppins";
	font-size: 14px;
}

.only-show-on-hover1 {
	visibility: hidden;
}
div:hover > .only-show-on-hover1 {
	visibility: visible;
}
.card-container2:hover > svg {
	fill: var(--main-red);
	stroke: var(--main-red);
}
.only-show-on-hover2 {
	visibility: hidden;
}
div:hover > .only-show-on-hover2 {
	visibility: visible;
}
.only-show-on-hover3 {
	visibility: hidden;
}
div:hover > .only-show-on-hover3 {
	visibility: visible;
}



/* Modal CSS */

.modal-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-content2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px 0 0 50px;
	width: 450px;
}
.modal-head {
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 62px;
	line-height: 83px;
	letter-spacing: 0.01em;
	margin-top: 20px;
	color: #fa2b56 !important;
}
.modal-txt {
	font-family: Gilroy;
	font-weight: 500;
	font-size: 25px;
	line-height: 136.7%;
	letter-spacing: 0.01em;
	margin-top: 6px;
	color: white;
}
.close-button2 {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 18px;
	margin-right: 23px;
	background-color: transparent;
	border: none;
	outline: none;
}

.header-modal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.title-modal {
	font-size: 30px;
	background: -webkit-linear-gradient(#fa2b56, #f91c3d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 37px;
}

.body-modal {
	color: #52596b;
	font-size: 16px;
	padding: 20px 80px 20px 80px;
}
label {
	margin-top: 10px;
}
#typeahead {
	background-color: #222127 !important;
	border-color: #52596b;
	border-radius: 5px;
}

#typeahead2 {
	background-color: #222127 !important;
	border-color: #52596b;
	border-radius: 5px;
	width: 300px;
}

.footer-modal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.close-button {
	margin-top: 18px;
	margin-right: 23px;
	margin-bottom: 18px;
	background-color: #222127;
	border: none;
	outline: none;
}

.send-button {
	width: 100%;
	color: white;
	background: linear-gradient(259.52deg, #fa2b56 36.56%, #f91c3d 93.83%);
	width: 628px;
	height: 60px;
	box-shadow: 0px 4px 20px rgba(250, 37, 76, 0.2);
	border: none;
	border-radius: 90px;
	margin-bottom: 43px;
}

.success-msg {
	color: white;
	font-family: Gilroy;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 80px;
}