.main {
  width: 100%;
  height: 80vh;
  /* background */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  width: 55px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: row;
}
.text-head1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  margin: 10px 0 0 0;
}
.text-head2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  margin: 10px 0 0 0;
}
.contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 340px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0px 4px 20px rgba(34, 33, 39, 0.2);
  border-radius: 10px;
}

.text-card-head {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: var(--main-black);
}

.text-card {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  color: var(--main-grey);
}

.carousel-viewmore {
  margin-top: 380px;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 120px;
  border-radius: 50px;
  background-color: var(--main-red);
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.only-show-on-hover1 {
  visibility: hidden;
}
div:hover > .only-show-on-hover1 {
  visibility: visible;
}
.only-show-on-hover2 {
  visibility: hidden;
}
div:hover > .only-show-on-hover2 {
  visibility: visible;
}
.only-show-on-hover3 {
  visibility: hidden;
}
div:hover > .only-show-on-hover3 {
  visibility: visible;
}