<div>
    <!-- <video autoplay loop muted oncanplay="this.muted=true" class="video-bg" src="../../../assets/background_video.mp4" type="video/mp4"></video> -->
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="videoId">
        <source src="../../../assets/background_video.mp4" type="video/mp4" />
    </video>

</div>
<div class="collapser">
    <div class="carousel-content">
        <img src="../../../assets/logo-white.svg" alt="" class="img-content">
        <h1 class="carousel-sub">Coming Soon!</h1>
    </div>
</div>