<div class="main">
  <div class="header">
    <h1 class="text-head1">KingKong</h1>
    <h1 class="text-head2">Platformundan Görüntüler</h1>
  </div>
  <div class="gallery-main">
    <div class="menu">
      <!-- <a (click)="show1()" class="menu-text active">Ana Giriş</a>
      <a (click)="show2()" class="menu-text">Networking Alanı</a>
      <a (click)="show3()" class="menu-text">Stand Alanı</a>
      <a (click)="show4()" class="menu-text">Toplantı Salonları</a> -->

      <a class="menu-text active">Ana Giriş</a>
      <a class="menu-text">Networking Alanı</a>
      <a class="menu-text">Stand Alanı</a>
      <a class="menu-text">Toplantı Salonları</a>

    </div>
    <div class="gallery-masonry">
      <div *ngIf="isShown1" class="masonry">
        <div class="item">
          <img class="item-img" src="../../../assets/gallery/Slider 3.png" alt="" />
        </div>
        <div class="item">
          <img class="item-img" src="../../../assets/gallery/Slider 3-1.png" alt="" />
          <img class="item-img" src="../../../assets/gallery/Slider 3-2.png" alt="" />
          <img class="item-img" src="../../../assets/gallery/Slider 3-4.png" alt="" />
        </div>
        <div class="item">
         <div class="item-double">
          <img class="item-img" src="../../../assets/gallery/Slider 13.png" alt="" />
          <img class="item-img" src="../../../assets/gallery/Slider 3-3.png" alt="" />
         </div>
          <img class="item-img" src="../../../assets/gallery/Slider 3-5.png" alt="" />
        </div>
      </div>
      <div *ngIf="isShown2" id="network" class="masonry">2</div>
      <div *ngIf="isShown3" id="stand" class="masonry">3</div>
      <div *ngIf="isShown4" id="meeting" class="masonry">4</div>
    </div>
  </div>
</div>
