<div class="main">
  <div class="header">
    <h1 class="text-head1">KingKong</h1>
    <h1 class="text-head1">Platformundan Görüntüler</h1>
  </div>
  <div class="gallery-main">
    <div class="menu" *ngIf="!mobile">
      <div class="menu-sub">
        <a (click)="show1('Ana Giriş')" class="menu-text" [class.active]="isActive && isShown1">Ana Giriş</a>
        <a (click)="show2('Networking Alanı')" class="menu-text" [class.active]="isActive && isShown2">Networking
          Alanı</a>
        <a (click)="show3('Stand Alanı')" class="menu-text" [class.active]="isActive && isShown3">Stand Alanı</a>
        <a (click)="show4('Toplantı Salonları')" class="menu-text" [class.active]="isActive && isShown4">Toplantı
          Salonları</a>
        <!-- <a class="menu-text active">Ana Giriş</a>
    <a class="menu-text">Networking Alanı</a>
    <a class="menu-text">Stand Alanı</a>
    <a class="menu-text">Toplantı Salonları</a> -->
      </div>
    </div>
    <div *ngIf="mobile" class="menu">
      <div ngbDropdown class="d-inline-block">
        <a  id="dropdownBasic1" class="menu-text" [class.active]="isActive" ngbDropdownToggle>{{searchSelector}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a (click)="show1('Ana Giriş')"  class="menu-text"  [class.active]="isActive && isShown1" ngbDropdownItem>Ana Giriş</a>
          <a (click)="show2('Networking Alanı')"  class="menu-text"  [class.active]="isActive && isShown2" ngbDropdownItem>Networking Alanı</a>
          <a (click)="show3('Stand Alanı')" class="menu-text"  [class.active]="isActive && isShown3" ngbDropdownItem>Stand Alanı</a>
          <a (click)="show4('Toplantı Salonları')" class="menu-text"  [class.active]="isActive && isShown4" ngbDropdownItem>Toplantı Salonları</a>
        </div>
      </div>
      <!-- <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div> -->
    </div>
    <div class="gallery-masonry" *ngIf="!mobile">
      <div *ngIf="isShown1" class="masonry">
        <div class="item">
          <img class="item-img1" src="../../../assets/gallery/ag1.webp" alt="" />
        </div>
        <div class="item">
          <img class="item-img2" src="../../../assets/gallery/ag2.webp" alt="" />
          <img class="item-img3" src="../../../assets/gallery/ag3.webp" alt="" />
          <img class="item-img4" src="../../../assets/gallery/ag4.webp" alt="" />
        </div>
        <div class="item">
          <div class="item-double">
            <img class="item-img5" src="../../../assets/gallery/ag5.webp" alt="" />
            <img class="item-img6" src="../../../assets/gallery/ag6.webp" alt="" />
          </div>
          <img class="item-img7" src="../../../assets/gallery/ag7.webp" alt="" />
        </div>
      </div>
      <div *ngIf="isShown2" id="network" class="masonry">
        <div class="item">
          <img class="item-img1" src="../../../assets/gallery/na1.webp" alt="" />
        </div>
        <div class="item">
          <img class="item-img2" src="../../../assets/gallery/na2.webp" alt="" />
          <img class="item-img3" src="../../../assets/gallery/na3.webp" alt="" />
          <img class="item-img4" src="../../../assets/gallery/na4.webp" alt="" />
        </div>
        <div class="item">
          <div class="item-double">
            <img class="item-img5" src="../../../assets/gallery/na5.webp" alt="" />
            <img class="item-img6" src="../../../assets/gallery/na6.webp" alt="" />
          </div>
          <img class="item-img7" src="../../../assets/gallery/na7.webp" alt="" />
        </div>
      </div>
      <div *ngIf="isShown3" id="stand" class="masonry">
        <div class="item">
          <img class="item-img1" src="../../../assets/gallery/sa1.webp" alt="" />
        </div>
        <div class="item">
          <img class="item-img2" src="../../../assets/gallery/sa2.webp" alt="" />
          <img class="item-img3" src="../../../assets/gallery/sa3.webp" alt="" />
          <img class="item-img4" src="../../../assets/gallery/sa4.webp" alt="" />
        </div>
        <div class="item">
          <div class="item-double">
            <img class="item-img5" src="../../../assets/gallery/sa5.webp" alt="" />
            <img class="item-img6" src="../../../assets/gallery/sa6.webp" alt="" />
          </div>
          <img class="item-img7" src="../../../assets/gallery/sa7.webp" alt="" />
        </div>
      </div>
      <div *ngIf="isShown4" id="meeting" class="masonry">
        <div class="item">
          <img class="item-img1" src="../../../assets/gallery/ts1.webp" alt="" />
        </div>
        <div class="item">
          <img class="item-img2" src="../../../assets/gallery/ts2.webp" alt="" />
          <img class="item-img3" src="../../../assets/gallery/ts3.webp" alt="" />
          <img class="item-img4" src="../../../assets/gallery/ts4.webp" alt="" />
        </div>
        <div class="item">
          <div class="item-double">
            <img class="item-img5" src="../../../assets/gallery/ts5.webp" alt="" />
            <img class="item-img6" src="../../../assets/gallery/ts6.webp" alt="" />
          </div>
          <img class="item-img7" src="../../../assets/gallery/ts7.webp" alt="" />
        </div>
      </div>
    </div>

    <div *ngIf="mobile && isShown1" >
        <!-- <ngb-carousel >
          <ng-template ngbSlide *ngFor="let slide of anagiris; let i = index;" >
            <div class="picsum-img-wrapper">
              <img [src]="slide.image" alt="Random first slide">
            </div>
            <div class="carousel-caption">
            </div>
          </ng-template>
        </ngb-carousel> -->
      <swiper [pagination]="true">
        <ng-template swiperSlide *ngFor="let slide of anagiris; let i = index;" >
          <div class="picsum-img-wrapper">
            <img [src]="slide.image" alt="Random first slide">
          </div>
        </ng-template>
      </swiper>
    </div>
    <div *ngIf="mobile && isShown2">
      <swiper [pagination]="true">
        <ng-template ngbSlide swiperSlide *ngFor="let slide of networking; let i = index;">
          <div class="picsum-img-wrapper">
            <img [src]="slide.image" alt="Random first slide">
          </div>
        </ng-template>
      </swiper>
    </div>
    <div *ngIf="mobile && isShown3">
      <swiper [pagination]="true">
        <ng-template ngbSlide swiperSlide *ngFor="let slide of stand; let i = index;">
          <div class="picsum-img-wrapper">
            <img [src]="slide.image" alt="Random first slide">
          </div>
        </ng-template>
      </swiper>
    </div>
    <div *ngIf="mobile && isShown4">
      <swiper [pagination]="true">
        <ng-template ngbSlide  swiperSlide *ngFor="let slide of toplanti; let i = index;">
          <div class="picsum-img-wrapper">
            <img [src]="slide.image" alt="Random first slide">
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>