.main {
  width: 100%;
  /* background */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly;
    align-items: center; */
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-head1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 129%;
  margin: 10px 0 0 0;
}
.text-head2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  margin: 10px 0 0 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 43px;
}

.menu-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 750px;
}

.menu-text {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.active {
  color: var(--main-red)!important;
}
.gallery-masonry {
  margin: 3%
}
.masonry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.item-double {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* .item-img {
  margin: 8px;
  border-radius: 10px;
} */

.item-img1 {
  margin: 8px;
  border-radius: 10px;
  width: 380px;
  height: 514px;
  object-fit: cover;
}
.item-img2 {
  margin: 8px;
  border-radius: 10px;
  width: 380px;
  height: 162px;
  object-fit: cover;
}
.item-img3 {
  margin: 8px;
  border-radius: 10px;
  width: 380px;
  height: 162px;
  object-fit: cover;
}
.item-img4 {
  margin: 8px;
  border-radius: 10px;
  width: 380px;
  height: 162px;
  object-fit: cover;
}
.item-img5 {
  margin: 8px;
  border-radius: 10px;
  width: 175px;
  height: 332px;
  object-fit: cover;
}
.item-img6 {
  margin: 8px;
  border-radius: 10px;
  width: 175px;
  height: 332px;
  object-fit: cover;
}
.item-img7 {
  margin: 8px;
  border-radius: 10px;
  width: 380px;
  height: 167px;
  object-fit: cover;
}

.active {
  color: red;
}
@media only screen and (max-device-width: 450px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .text-head1 {
    font-size: 40px;
    margin: 0;
  }
  .text-head2 {
    font-size: 40px;
    margin: 0;
  }
  .picsum-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .carousel-caption {
    position: relative;
  }
  ::ng-deep.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid var(--main-red);
    border-radius: 50%;
  }
  ::ng-deep.carousel-indicators .active {
    background-color: var(--main-red);
  }
  img {
    margin: 0;
    width: 346px;
    height: 374px;
    border-radius: 10px;
    margin: 20px 0 20px;
    object-fit: cover;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .menu-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  .menu-text {
    font-size: 20px;
    line-height: 29px;
    padding: 10px;
  }

}