<!-- <div>
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="videoId">
    <source src="../../../assets/background_video.mp4" type="video/mp4" />
  </video>
</div> -->
<div class="collapser">

  <!-- <img class="video-band" src="../../../assets/carousel/bgmask.png" alt=""> -->
  <video class="target videoTarget" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <!-- <source src="../../../assets/video/840x740[1].mp4" type="video/mp4" /> -->
    <source
    src="https://player.vimeo.com/external/552854308.hd.mp4?s=ebe77bc6ccbd6224a3d69550fde9c838336c84a1&profile_id=174"
    type="video/mp4" />
  </video>
  <div class="carousel-back">
    <app-header></app-header>
    <!-- <img alt="" class="carousel-back-img" *ngFor="let img of imgs; let i = index"
      [src]="'../../../assets/carousel/' + img" [ngClass]="'carousel-img-' + i" /> -->
    <img src="../../../assets/dots/wh-vert.png" class="dott1" alt="">
    <img src="../../../assets/dots/w-l.png" class="dott2" alt="">
    <img src="../../../assets/dots/w-l.png" class="dott3" alt="">
    <img src="../../../assets/dots/w-l.png" class="dott4" alt="">

  </div>
  <div class="carousel-content">
    <div></div>
    <div class="carousel-info">
      <div class="carousel-text">
        <h3 class="carousel-title">KingKong ile Tanışın</h3>
        <h1 class="carousel-sub">Etkinliklerinizi<br>
                                 Taçlandırın!</h1>
        <h6 class="carousel-hint">
          KingKong <b class="gil-bold">sanal konferans platformu</b><br>
          benzerlerine göre <b class="gil-bold">benzersiz</b> olanaklar sunar!
        </h6>
        <div class="carousel-viewmore" (click)="openVideo(video)">
          <div>İzle</div>
        </div>
      </div>
      <!-- <div class="carousel-points">
        <div
          class="point"
          [ngClass]="{ 'point-active': i == activeImg }"
          *ngFor="let img of imgs; let i = index"
          (click)="selectImg(i)"
        ></div>
      </div> -->
    </div>
    <!-- <div class="carousel-pagination">
      <div
        class="page-cont"
        *ngFor="let pag of paginations; let i = index"
        (click)="selectImg(i)"
      >
        <div class="page-slider" [ngClass]="'page-slider-'+i"></div>
        <p class="page-title" [ngClass]="{ 'page-title-active': i == activeImg }">{{ pag.title }}</p>
        <p class="page-text" [ngClass]="{ 'page-text-active': i == activeImg }">{{ pag.sub }}</p>
      </div>
    </div> -->
  </div>
</div>


<!-- Video Modal -->
<ng-template #video let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal"></h4>

    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>

    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <video controls controlsList="nodownload" id="videoId" class="video-pop">
      <!-- <source
        src="https://player.vimeo.com/external/546009659.hd.mp4?s=efca536f7216017ee06ade06aa61374aa0c8d495&profile_id=175"
        type="video/mp4" /> -->
      <source
        src="https://player.vimeo.com/external/546007863.hd.mp4?s=e45ccf0c4b0a89930027e4cc87569d2abd9a5c6d&profile_id=175"
        type="video/mp4" />

    </video>
  </div>
</ng-template>

<!-- Opened modal -->
<ng-template #cookie let-modal>
  <div class="cookie-auto-open">
    <div class="header">
      <h1 class="cheader">KingKong KVKK ve ÇEREZLER</h1>
      <img src="../../../assets/modal-close.svg" alt="" (click)="modal.close('Cross click')" style="cursor: pointer;">
    </div>
    <div class="content">
      <p class="ctext">İnternet sitemizde sizlere daha iyi bir hizmet sunabilmek için çerez kullanıyoruz. Konu ile
        ilgili
        daha
        detaylı bilgi almak için <a (click)="openLegal(legal)" style="text-decoration: underline;cursor: pointer;">Çerez
          Bilgilendirme Metni</a>'ni
        ve internet sitemiz kapsamındaki kişisel veri işleme faaliyetlerimize ilişkin bilgi almak için İnternet
        Sitesi <a (click)="openPrivacy(privacy)" style="text-decoration: underline;cursor: pointer;">KVK Bilgilendirme
          Metni</a>'ni ziyaret edebilirsiniz.</p>

      <button class="accept-cookies" (click)="modal.close('Cross click')" style="cursor: pointer;">Kabul</button>
    </div>
  </div>
</ng-template>


<!-- Çerez Bilgilendirme -->
<ng-template #legal let-modal>
  <div class="header-modal">
    <h4 class="modal-title ">KINGKONG ÇEREZ BİLGİLENDİRME METNİ</h4>
    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>
  </div>
  <div class="long-content">
    <p>King Kong Kongre Eğitim ve Organizasyon Ticaret Ltd. Şti. <b>(“Şirketimiz” veya “King Kong”)</b> olarak,
      “https://www.kingkongistanbul.com” <b>(“Sitemiz”)</b> adresini ziyaret ettiğiniz takdirde siz ziyaretçilerimize
      ait
      kişisel verilerin 6698 sayılı Kişisel Verilerin Korunması Kanunu <b>(“KVKK”)</b> ve ikincil düzenlemelerine uygun
      olarak
      işlenmesi ve korunması için azami hassasiyeti göstermekteyiz. </p>
    <p>Şirketimiz’in KVKK’dan doğan aydınlatma yükümlülüğü kapsamında sizleri işbu King Kong Çerez Bilgilendirme Metni
      <b>(“Çerez Bilgilendirme Metni”)</b> ile birlikte Şirketimiz tarafından kullanılan çerezler ve bu vasıtayla
      işlenen
      kişisel verileriniz hakkında bilgilendirmek isteriz.
    </p>
    <p><b>Çerezler Vasıtasıyla İşlenen Kişisel Verileriniz </b></p>
    <p>Çerezler vasıtasıyla log, dış IP ve MAC adresi verilerinizi işlemekteyiz.</p>
    <p><b>Hangi Çerez Türlerini Kullanmaktayız?</b></p>
    <p>Çerezler (cookies) bir internet sitesi tarafından cihazınızda oluşturulan ve isim-değer formatında veri
      barındıran küçük metin dosyalarıdır. Dolayısıyla, Sitemiz’i ziyaret etmenizle birlikte kullandığımız çerezler
      cihazınızda site ziyaretinize ilişkin bilgi saklanmasını ve bu bilgilerin sonraki ziyaretleriniz sırasında
      kullanılmasını mümkün kılmaktadır. </p>
    <p>Sitemiz tarafından oluşturulan ve sadece Sitemiz tarafından okunabilen çerezler <b>birincil çerezlerdir.</b></p>
    <p>Sitemiz’de sunulan içerik, erişim adresindeki alan adı dışında başka alan adları üzerinden de sağlanmaktadır. Bu
      gibi durumlarda her bir alan adı kendine münhasır üçüncü taraf çerezler yaratmaktadır.</p>
    <p>Sitemiz’de kullandığımız çerez türleri ile bu çerezleri kullanım amaçlarımız aşağıdaki gibidir:</p>

    <table class="tg">
      <thead>
        <tr>
          <th class="tg-8r46">No</th>
          <th class="tg-8r46">Çerez Türü</th>
          <th class="tg-65cc">Kullanım Amaçları</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-65cc">1</td>
          <td class="tg-65cc">Oturum Çerezleri</td>
          <td class="tg-65cc">Oturum çerezleri, Sitemiz’i kullanımınız sırasında geçerli olan çerezler olup internet
            tarayıcınızı kapatıncaya kadar geçerliliklerini korurlar.</td>
        </tr>
        <tr>
          <td class="tg-65cc">2</td>
          <td class="tg-65cc">Kalıcı Çerezler</td>
          <td class="tg-65cc">Bu çerezler tarayıcınızda saklanan ve tarafınızca silininceye dek veya son kullanım
            tarihine kadar geçerliliğini koruyan çerezlerdir.</td>
        </tr>
        <tr>
          <td class="tg-65cc">3</td>
          <td class="tg-65cc">Zorunlu Çerezler</td>
          <td class="tg-65cc">Sitemiz’in düzgün bir şekilde çalışabilmesi, Sitemiz’in özelliklerinden ve sunulan
            hizmetlerden yararlanabilmeniz için kullanımı mecburi olan çerezlerdir.</td>
        </tr>
      </tbody>
    </table>

    <p>Sitemiz’de kullandığımız üçüncü taraf çerezler ile sizlere daha verimli ve işlevsel bir internet deneyimi sunmayı
      amaçlamaktayız. Bu üçüncü kişi hizmet sağlayıcılar ile Şirketimiz arasında KVKK uyarınca KVK Protokolü akdedilmiş
      olup bu kişiler tarafından Şirketimiz adına elde edilen kişisel verilerinizin güvenliği garanti altına alınmıştır.
    </p>
    <p><b>Çerezlerin Saklanması ve Erişilmesi</b></p>
    <p>Sitemiz tarafından oluşturulan çerezler Sitemize erişim için kullandığınız internet sitesi tarayıcınız tarafından
      bilgisayarınızda saklanmaktadır. Bu çerezlerin içerdiği bilgilere sadece çerezi oluşturan alan adı
      (https://www.kingkongistanbul.com) altında sunulan Sitemiz tarafından ve aynı tarayıcıyı kullandığınız takdirde
      uzaktan erişim mümkündür.</p>
    <p><b>Çerezleri Kabul Etmek Sizin Elinizde</b></p>
    <p>İnternet tarayıcılarınız genellikle ziyaret ettiğiniz sitelerde kullanılan çerezleri otomatik olarak kabul
      etmektedir. İnternet sitelerimizi kullanabilmek için çerez kullanımı zorunlu değildir fakat tarayıcınızı tüm
      çerezleri engelleyecek şekilde ayarlamanız halinde kullanıcı deneyiminizin kalitesi düşebilir ve Sitemiz’e erişim
      sağlamanızı ya da Sitemiz’in çeşitli işlevlerinden yararlanmanızı engelleyebilir</p>
    <p>Tarayıcınızı çerezleri tüm siteler veya belirli siteler için engelleyecek, çerez oluşturulduğunda uyarı verecek,
      üçüncü taraf çerezleri engelleyecek veya tüm çerezleri oturum çerezi gibi sayacak şekilde yapılandırabilirsiniz.
      Diğer yandan, tarayıcınız üzerinden cihazınızda kaydedilen çerezleri silebilir veya bu çerezlerin listesini ve
      değerlerini görebilir ve takip edebilirsiniz. Aşağıda listelenen tarayıcılardan kullanmakta olduğunuza tıklayarak
      çerez yönetimlerine ilişkin detaylı bilgi alabilirsiniz.
    </p>
    <p>Çerezler işbu Çerez Bilgilendirme Metni’nde belirtilen amaçlar dışında kullanılmamakta olup tüm ilgili işlemler
      KVKK’ya uygun olarak yürütülmektedir. Çerezler vasıtasıyla elde edilen kişisel verileriniz Şirketimiz tarafından
      KVKK’ya uygun olarak işlenmekte, saklanmakta ve güvenliği sağlanmaktadır.</p>
    <p>Sitemiz tarafından işlenen kişisel verileriniz hakkında daha detaylı bilgi için lütfen King Kong İnternet Sitesi
      KVK Bilgilendirme Metni’ni okuyunuz.</p>
    <p><b>Bilgi Edinme Hakkınız</b></p>
    <p>KVKK’nın 11. maddesi kapsamında, Şirketimiz’e başvurarak kişisel verilerinizin, <b>(i)</b> işlenip işlenmediğini
      öğrenme, <b>(ii)</b> işlenmişse buna ilişkin bilgi talep etme, işlenme amacını ve amacına uygun kullanılıp
      kullanılmadığını öğrenme, <b>(iii)</b> yurt içinde/yurt dışında aktarıldığı 3. kişileri bilme, eksik/yanlış
      işlenmişse
      düzeltilmesini isteme, <b>(iv)</b> KVKK’nın 7. maddesinde öngörülen şartlar çerçevesinde silinmesini/yok
      edilmesini
      isteme, <b>(v)</b> kişisel verilerinizin KVKK’nın 7. maddesi kapsamında silinmesi ve yok edilmesi ve eksik/yanlış
      işlenmiş kişisel verilerinin düzeltilmesi taleplerinin, kişisel verilerin aktarıldığı üçüncü kişilere
      bildirilmesini isteme, <b>(vi)</b> münhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir
      sonucun
      ortaya çıkmasına itiraz etme, <b>(vii)</b> kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde
      zararın
      giderilmesini talep etme haklarına sahip olduğunuzu bildiririz.</p>
    <p>Çerezler ile ilgili daha detaylı bilgi almak isteyen ziyaretçilerimizin www.aboutcookies.org,
      www.youronlinechoices.eu adreslerini ziyaret etmeleri önerilir.</p>
    <p>İşbu Çerez Bilgilendirme Metni hakkında sorunuz olması halinde lütfen KVK Yetkilisi ile irtibata geçiniz.</p>

    <p><b>KVK Yetkilisi:</b></p>

    <table class="tg" *ngIf="!mobile">
      <thead>
        <tr>
          <th class="tg-ugqb"><span style="font-weight:bold">Kişisel Veriniz</span></th>
          <th class="tg-ugqb"><span style="font-weight:bold">Şirketimize Ulaştığı Ortam</span></th>
          <th class="tg-ywlh"><span style="font-weight:bold">İşleme Amacımız/Amaçlarımız</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-ywlh">Adınız, soyadınız, telefon numaranız <br>ve şahıs şirketi olmanız halinde şirket adınız
          </td>
          <td class="tg-ywlh">[https://www.kingkongistanbul.com]</td>
          <td class="tg-ywlh">Ürün ve hizmetlerimize ilişkin talep, şikâyet, soru ve önerilerinize cevap verebilmek
            <br>ve ürün ve hizmetlerimize ilişkin olarak entegrasyon süreçlerini yürütmek.
          </td>
        </tr>
        <tr>
          <td class="tg-ywlh">Trafik verisi</td>
          <td class="tg-ywlh">[https://www.kingkongistanbul.com]</td>
          <td class="tg-ywlh">5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla<br>
            İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve ikincil düzenlemelerinden doğan<br> yükümlülüklerimizi
            yerine getirmek.</td>
        </tr>
      </tbody>
    </table>
    <table class="tg" *ngIf="mobile">
      <thead>
        <tr>
          <th class="tg-ugqb"><span style="font-weight:bold">Kişisel Veriniz</span></th>
          <th class="tg-ugqb"><span style="font-weight:bold">Şirketimize Ulaştığı Ortam</span></th>
          <th class="tg-ywlh"><span style="font-weight:bold">İşleme Amacımız/Amaçlarımız</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-ywlh">Adınız, soyadınız, telefon numaranız <br>ve şahıs şirketi olmanız halinde şirket adınız
          </td>
          <td class="tg-ywlh">[https://
            www.
            kingkong
            istanbul
            .com]</td>
          <td class="tg-ywlh">Ürün ve hizmetlerimize ilişkin talep, şikâyet, soru ve önerilerinize cevap verebilmek
            <br>ve ürün ve hizmetlerimize ilişkin olarak entegrasyon süreçlerini yürütmek.
          </td>
        </tr>
        <tr>
          <td class="tg-ywlh">Trafik verisi</td>
          <td class="tg-ywlh">[https://
            www.
            kingkong
            istanbul
            .com]</td>
          <td class="tg-ywlh">5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla<br>
            İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve ikincil düzenlemelerinden doğan<br> yükümlülüklerimizi
            yerine getirmek.</td>
        </tr>
      </tbody>
    </table>

    <p>İşbu Çerez Bilgilendirme Metni, değişen süreçlerimiz dolayısıyla KVKK’ya uyum sağlamak amacıyla
      güncellenebilecektir. Otomatik e-posta gönderim listemizde yer alıyorsanız, güncellemelerimiz size e-posta yolu
      ile bildirilecektir. Otomatik e-posta gönderim listemizde yer almıyor iseniz güncellemeler için belirli
      aralıklarla sitemizi ziyaret etmenizi rica ederiz.</p>
    <p><b>King Kong Kongre Eğitim ve Organizasyon Ticaret Ltd. Şti.</b></p>
  </div>
  <div class="footer-modal" style="background-color: white;color: #232228;">
    <button type="button" class="accept-button" (click)="modal.close('Cross click')">OKUDUM ve KABUL EDİYORUM</button>
  </div>
</ng-template>


<!-- Gizlilik Modal -->
<ng-template #privacy let-modal>
  <div class="header-modal">
    <h4 class="modal-title ">KINGKONG İNTERNET SİTESİ KVK BİLGİLENDİRME METNİ</h4>
    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>
  </div>
  <div class="long-content">
    <p>King Kong Kongre Eğitim ve Organizasyon Ticaret Ltd. Şti. <b>(“Şirketimiz” veya “King Kong”)</b> olarak, resmi
      internet
      sitemiz olan “https://www.kingkongistanbul.com” <b>(“Sitemiz”)</b> adresini ziyaret ettiğiniz takdirde siz
      ziyaretçilerimize ait kişisel verilerin 6698 sayılı Kişisel Verilerin Korunması Kanunu <b>(“KVKK”)</b> ve ikincil
      düzenlemelerine uygun olarak işlenmesi ve korunması için azami hassasiyeti göstermekteyiz. </p>
    <p>
      Şirketimiz’in KVKK’dan doğan aydınlatma yükümlülüğü kapsamında siz internet sitesi ziyaretçilerimizi işbu King
      Kong İnternet Sitesi KVK Bilgilendirme Metni <b>(“Bilgilendirme Metni”)</b> aracılığıyla bilgilendirmek isteriz.
    </p>
    <p><b class="bold">Kişisel verilerinizi hangi amaçlarla ve hangi yollarla elde ediyor ve işliyoruz?</b></p>
    <p>Şirketimiz tarafından, “https://www.kingkongistanbul.com” adresini ziyaret etmenizle birlikte başta trafik
      verileriniz olmak üzere aşağıda belirtilen kişisel verileriniz, beraberinde açıklanan amaçlarla bağlantılı,
      sınırlı ve ölçülü bir şekilde elektronik ve fiziki ortamlarda yazılı olarak, otomatik ve otomatik olmayan
      yöntemlerle KVKK’ya uygun olarak Şirketimiz tarafından işlenmektedir. </p>

      <table class="tg" *ngIf="!mobile">
        <thead>
          <tr>
            <th class="tg-ugqb"><span style="font-weight:bold">Kişisel Veriniz</span></th>
            <th class="tg-ugqb"><span style="font-weight:bold">Şirketimize Ulaştığı Ortam</span></th>
            <th class="tg-ywlh"><span style="font-weight:bold">İşleme Amacımız/Amaçlarımız</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-ywlh">Adınız, soyadınız, telefon numaranız <br>ve şahıs şirketi olmanız halinde şirket adınız
            </td>
            <td class="tg-ywlh">[https://www.kingkongistanbul.com]</td>
            <td class="tg-ywlh">Ürün ve hizmetlerimize ilişkin talep, şikâyet, soru ve önerilerinize cevap verebilmek
              <br>ve ürün ve hizmetlerimize ilişkin olarak entegrasyon süreçlerini yürütmek.
            </td>
          </tr>
          <tr>
            <td class="tg-ywlh">Trafik verisi</td>
            <td class="tg-ywlh">[https://www.kingkongistanbul.com]</td>
            <td class="tg-ywlh">5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla<br>
              İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve ikincil düzenlemelerinden doğan<br> yükümlülüklerimizi
              yerine getirmek.</td>
          </tr>
        </tbody>
      </table>
      <table class="tg" *ngIf="mobile">
        <thead>
          <tr>
            <th class="tg-ugqb"><span style="font-weight:bold">Kişisel Veriniz</span></th>
            <th class="tg-ugqb"><span style="font-weight:bold">Şirketimize Ulaştığı Ortam</span></th>
            <th class="tg-ywlh"><span style="font-weight:bold">İşleme Amacımız/Amaçlarımız</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-ywlh">Adınız, soyadınız, telefon numaranız <br>ve şahıs şirketi olmanız halinde şirket adınız
            </td>
            <td class="tg-ywlh">[https://
              www.
              kingkong
              istanbul
              .com]</td>
            <td class="tg-ywlh">Ürün ve hizmetlerimize ilişkin talep, şikâyet, soru ve önerilerinize cevap verebilmek
              <br>ve ürün ve hizmetlerimize ilişkin olarak entegrasyon süreçlerini yürütmek.
            </td>
          </tr>
          <tr>
            <td class="tg-ywlh">Trafik verisi</td>
            <td class="tg-ywlh">[https://
              www.
              kingkong
              istanbul
              .com]</td>
            <td class="tg-ywlh">5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla<br>
              İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve ikincil düzenlemelerinden doğan<br> yükümlülüklerimizi
              yerine getirmek.</td>
          </tr>
        </tbody>
      </table>

    <p>İşbu Bilgilendirme Metni’nde sayılan kişisel verileriniz, yine bu metinde belirtilen amaçların yanı sıra
      Şirketimiz’in ticari faaliyetlerinin yürütülebilmesi amacıyla bağlantılı, sınırlı ve ölçülü olarak dış hizmet
      sağlayıcıları (IT uzmanları, veri tabanı sağlayıcıları, reklam ajansları, yedekleme ve kurtarma uzmanları vb.) ile
      KVKK’ya uygun olarak paylaşılmaktadır.</p>
    <p>Bununla birlikte kişisel verileriniz, yukarıda sayılan amaçlar ile birlikte iş faaliyetlerinin yürütülebilmesi ve
      raporlama işlemlerinin gerçekleştirilebilmesi ile siz internet sitesi ziyaretçilerimize hizmet teminini
      gerçekleştirebilmek amaçlarıyla King Kong Kongre Eğitim ve Organizasyon Ticaret Ltd. Şti.’nin hakim şirketi olan
      Reaktör Reklam ve Yazılım Hizmetleri Limited Şirketi’ne aktarılmaktadır.</p>
    <p>Kişisel verilerinizi paylaştığımız üçüncü kişiler KVKK’da aksi öngörülmedikçe paylaşım amacıyla bağlı ve sınırlı
      olarak kişisel verilerinizi işlemek ve korumakla sözleşme ilişkimiz kapsamında yükümlü olup bu husus King Kong’un
      denetimindedir.</p>
    <p>Kişisel verilerinizi son olarak hukuki sorumluluk ve yükümlülüklerimizi yerine getirmek amacıyla resmi kurum ve
      kuruluşlar ve yargı makamları ile KVKK’ya uygun olarak paylaşmaktayız.</p>
    <p><b>Kişisel verileriniz yurtdışına aktarılıyor mu?</b></p>
    <p>Şirketimiz’e elektronik posta aracılığıyla ile ulaşmanız durumunda, Şirketimiz kişisel verilerinizi iş
      sürekliliğinin sağlanması ve sizinle iletişime geçebilmek amaçlarıyla açık rızanız dahilinde yurtdışında mukim
      üçüncü kişilere (Microsoft Office 365) aktarmaktadır.</p>
    <p>Şirketimiz toplamış olduğu kişisel verilerinizi yukarıda yer alan alıcı grupları haricinde yurt dışında mukim
      herhangi bir üçüncü kişiye aktarmamaktadır.</p>
    <p><b>Kişisel verilerinizin güvenliği, muhafazası ve imhası</b></p>
    <p>Şirketimiz, kişisel veri güvenliği ve mahremiyetinin korunması konusunda oldukça yüksek bir farkındalığa
      sahiptir. King Kong işbu Bilgilendirme Metni’nde belirtilen siz ziyaretçilerimize ait kişisel verileri, başta KVKK
      olmak üzere Şirketimiz’in Kişisel Veri Saklama ve İmha Politikası’na uygun şekilde güvenliğini sağlayarak
      işlemektedir. </p>
    <p>Kişisel verileriniz, işbu Bilgilendirme Metni’nde belirtilen işleme amaçları için gerekli olan süre ve her
      halükarda yasal düzenlemelerde belirtilen kanuni zamanaşımı süreleri boyunca muhafaza edilmektedir. Şirketimiz,
      anılan sürelerin sona ermesi halinde King Kong Kişisel Veri Saklama ve İmha Politikası doğrultusunda kişisel
      verilerinizi siler, yok eder veya anonim hale getirir.</p>
    <p>Kişisel verilerinize yetkisiz kişiler tarafından erişilmesini, kişisel verilerinizin hatalı işlenmesini, ifşa
      edilmesini, hukuka uygun olmayan sebeplerle değiştirilmesini/silinmesini önlemek, korunmasını ve güvenliğini
      sağlamak amacıyla Şirketimiz KVKK uyarınca gerekli tüm teknik ve idari tedbirleri alır. KVKK uyarınca gereken
      hallerde King Kong sizleri ve Kişisel Verileri Koruma Kurulu’nu derhal bilgilendirir.</p>
    <p><b>Bilgi Edinme Hakkınız</b></p>
    <p>KVKK’nın 11. maddesi kapsamında Şirketimiz’e başvurarak kişisel verilerinizin; <b>(i)</b> işlenip işlenmediğini
      öğrenme,
      <b>(ii)</b> işlenmişse buna ilişkin bilgi talep etme, işlenme amacını ve amacına uygun kullanılıp kullanılmadığını
      öğrenme, <b>(iii)</b> yurt içinde/yurt dışında aktarıldığı 3. kişileri bilme, eksik/yanlış işlenmişse
      düzeltilmesini
      isteme, <b>(iv)</b> KVKK’nın 7. maddesinde öngörülen şartlar çerçevesinde silinmesini/yok edilmesini isteme,
      <b>(v)</b> kişisel
      verilerinizin KVKK’nın 7. maddesi kapsamında silinmesi ve yok edilmesi ve eksik/yanlış işlenmiş kişisel
      verilerinin düzeltilmesi taleplerinin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
      <b>(vi)</b>
      münhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,
      <b>(vii)</b> kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme
      haklarına
      sahip olduğunuzu bildiririz.
      İşbu Bilgilendirme Metni hakkında sorunuz olması halinde lütfen KVK Yetkilisi ile irtibata geçiniz.
    </p>
    <p><b>KVK Yetkilisi:</b></p>
    <table class="tg" style="table-layout: fixed; width: 100%" *ngIf="!mobile">
      <colgroup>
        <col style="width: 30%">
        <col style="width: 30%">
        <col style="width: 30%">
      </colgroup>
      <thead>
        <tr>
          <th class="tg-i5ln">[Hakkı Pehlivan]</th>
          <th class="tg-i5ln">[Büyükdere Cad. Ecza Sok. No:6 Kat:1 34394 Levent – İstanbul]</th>
          <th class="tg-3955">[+90 0212 2824700 , info@kingkongistanbul.com]</th>
        </tr>
      </thead>
    </table>
    <table class="tg" style="table-layout: fixed; width: 100%" *ngIf="mobile">
      <colgroup>
        <col style="width: 30%">
        <col style="width: 30%">
        <col style="width: 30%">
      </colgroup>
      <thead>
        <tr>
          <th class="tg-i5ln">[Hakkı Pehlivan]</th>
          <th class="tg-i5ln">[Büyükdere Cad. Ecza Sok. No:6 Kat:1 34394 Levent – İstanbul]</th>
          <th class="tg-3955">[+90 0212 2824700 , info@
            kingkong
            istanbul.com]</th>
        </tr>
      </thead>
    </table>
    <br>
    <p>İşbu Bilgilendirme Metni, değişen süreçlerimiz dolayısıyla KVKK’ya uyum sağlamak amacıyla güncellenebilecektir.
      Gerçekleşebilecek güncellemeler için sitemizi ziyaret etmenizi rica ederiz.</p>
    <p><b>King Kong Kongre Eğitim ve Organizasyon Ticaret Ltd. Şti.</b></p>
  </div>
  <div class="footer-modal" style="background-color: white;color: #232228;">
    <button type="button" class="accept-button" (click)="modal.close('Cross click')">OKUDUM ve KABUL EDİYORUM</button>
  </div>
</ng-template>