<div>
  <!-- <video autoplay loop muted oncanplay="this.muted=true" class="video-bg" src="../../../assets/background_video.mp4" type="video/mp4"></video> -->
  <!-- <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="videoId">
    <source src="../../../assets/background_video.mp4" type="video/mp4" />
  </video> -->

</div>
<div class="collapser">

  <video class="target"loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"> 
    <source src="../../../assets/background_video.mp4" type="video/mp4" />
  </video>

  <div class="carousel-back">
    <app-header></app-header>
    <!-- <img alt="" class="carousel-back-img" *ngFor="let img of imgs; let i = index"
      [src]="'../../../assets/carousel/' + img" [ngClass]="'carousel-img-' + i" /> -->
  </div>
  <div class="carousel-content">
    <div></div>
    <div class="carousel-info">
      <div class="carousel-text">
        <h3 class="carousel-title">KingKong ile Tanışın</h3>
        <h1 class="carousel-sub">Etkinliklerinizi<br>
          Taçlandırın!</h1>
        <h6 class="carousel-hint">
          KingKong <b>sanal konferans platformu</b> <br>
          benzerlerine göre benzersiz olanaklar sunar!
        </h6>
        <div class="carousel-viewmore" (click)="openVideo(video)">
          <div>İzle</div>
        </div>
      </div>
      <!-- <div class="carousel-points">
        <div
          class="point"
          [ngClass]="{ 'point-active': i == activeImg }"
          *ngFor="let img of imgs; let i = index"
          (click)="selectImg(i)"
        ></div>
      </div> -->
    </div>
    <!-- <div class="carousel-pagination">
      <div
        class="page-cont"
        *ngFor="let pag of paginations; let i = index"
        (click)="selectImg(i)"
      >
        <div class="page-slider" [ngClass]="'page-slider-'+i"></div>
        <p class="page-title" [ngClass]="{ 'page-title-active': i == activeImg }">{{ pag.title }}</p>
        <p class="page-text" [ngClass]="{ 'page-text-active': i == activeImg }">{{ pag.sub }}</p>
      </div>
    </div> -->
  </div>
</div>


<ng-template #video let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal"></h4>

    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>

    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <video loop muted autoplay controls oncanplay="this.play()" controlsList="nodownload" id="videoId">
      <source
        src="https://player.vimeo.com/external/546009659.hd.mp4?s=efca536f7216017ee06ade06aa61374aa0c8d495&profile_id=175"
        type="video/mp4" />
    </video>
  </div>
</ng-template>