/* You can add global styles to this file, and also import other style files */

:root {
  --main-red: #c1272d;
  --main-black: #222127;
  --main-grey: #52596b;
}

@font-face {
  font-family: Gilroy;
  src: url('assets/fonts/Gilroy/Gilroy-Regular.otf');
}

html,
body {
  height: 100%;
  margin: 0;
}
