.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* remember to define focus styles! */
*:focus {
	outline: none;
}
/* .center {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #222127;
} */
.center {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #222127;
	text-align: center !important;
}
.bigcrown {
	background: url('../../../assets/footer/bigcrown.svg') no-repeat;
	background-position: center;
	background-size: cover;
	width: 800px;
	padding: 20px;
}
.footer-text2 {
	font-family: "Gilroy-Light";
	font-size: 18px;
	color: rgba(255, 255, 255, 0.575);
	padding: 10px;
}
.footer-header {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	padding: 20px;
	color: var(--main-red);
}

.text-head {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: var(--main-red);
}
.text1 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
	opacity: 0.8;
	margin: 10px 0 10px 0;
	text-align: center;
}
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact-header {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 62px;
	line-height: 129%;
	color: var(--main-red);
	margin: 70px 0 30px 0;
}
input {
	width: 100%;
}
input:focus {
	outline: none;
}
label {
	margin-top: 10px;
	color: #52596b;
}
#typeahead {
	background-color: #222127 !important;
	border-color: #52596b;
	border-radius: 5px;
	width: 1170px;
}
#typeahead2 {
	background-color: #222127 !important;
	border-color: #52596b;
	border-radius: 5px;
	width: 550px;
}

.send-button2 {
	width: 100%;
	color: white;
	background-color: #c1272d;
	width: 1170px;
	height: 46.36px;
	border: none;
	border-radius: 90px;
	margin: 30px 0 90px 0;
}

.success-msg {
	color: white;
	font-family: Gilroy;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 80px;
}
.social {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.social-img {
	margin-top: -25px;
	margin-left: 10px;
}

.footer-end {
	width: 100%;
	background-color: #15141a;
	display: flex;
	flex-direction: column;
}
.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px 0 10px 0;
}
.text-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	width: 1170px;
}
.menu-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.menu-footer-text {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 179%;
	color: white;
	padding-left: 40px;
	cursor: pointer;
}
.footer-legal {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.copyright {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #52596b;
}
.header-modal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #222127;
}
.modal-title {
	font-family: "PlayfairDisplay";
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	margin: 18px 0 0 23px;
}
.modal-body {
	font-family: "Gilroy-Light";
	font-size: 22px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: normal;
	background-color: #232228;
	color: #ffffff;
	padding: 20px;
	overflow-x: auto;
}
.footer-modal {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.accept-button {
	width: 418px;
	height: 49px;
	padding: 6px 52px 10px 53px;
	border-radius: 29px;
	border: none;
	color: white;
	background-color: #c2272d;
	margin: 10px 0 33px 33px;
}

ul {
	list-style-image: url('../../../assets/footer/ellipse.svg');
}

/* ::ng-host.modal-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
} */

/* Yeni Modal Css */
p > b {
	font-family: Gilroy-Bold;
	font-weight: bold;
}

.modal-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-content2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px 0 0 50px;
	width: 450px;
}
.long-content {
	font-family: "Gilroy-Light";
	font-size: 18px;
	font-weight: 500;
	line-height: 1.45;
	color: #232228 !important;
	background-color: #ffffff !important;
	margin: 20px;
	overflow: auto;
}
.modal-head {
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 62px;
	line-height: 83px;
	letter-spacing: 0.01em;
	margin-top: 20px;
	color: #fa2b56 !important;
}
.modal-txt {
	font-family: Gilroy;
	font-weight: 500;
	font-size: 25px;
	line-height: 136.7%;
	letter-spacing: 0.01em;
	margin-top: 6px;
	color: white;
}
.close-button2 {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 18px;
	margin-right: 23px;
	background-color: transparent;
	border: none;
	outline: none;
}
.modal-img-what {
	background-image: url('../../../assets/footer/what.png');
	background-size: auto;
	background-position: center;
	width: 550px;
	height: 520px;
}
.modal-img-why {
	background-image: url('../../../assets/footer/why.png');
	background-size: auto;
	background-position: center;
	width: 550px;
	height: 520px;
}
.modal-img-web {
	background-image: url('../../../assets/footer/webinar.png');
	background-size: auto;
	background-position: center;
	width: 550px;
	height: 520px;
}
.modal-img-dev {
	background-image: url('../../../assets/footer/dewcon.png');
	background-size: auto;
	background-position: center;
	width: 550px;
	height: 520px;
}
.modal-img-contact {
	background: url('https://maps.google.com/maps?q=B%C3%BCy%C3%BCkdere%20Cad.%20Ecza%20Sok.%20No:6%20Kat:1%2034394%20Levent&t=&z=15&ie=UTF8&iwloc=&output=embed')
		no-repeat;
	background-position: center;
	width: 550px;
	height: 520px;
}
/* ::-webkit-scrollbar {
	width: 7px;
	background: #fa2b56;
} */

/* width */
::-webkit-scrollbar {
	width: 7px;
	border: 1px solid #fa2b56;
}
/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #fa2b56;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #fa2b56;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: "Gilroy-Light";
	font-size: 12px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: "Gilroy-Light";
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg .tg-ugqb {
	border-color: inherit;
	color: #232228;
	font-size: 13px;
	text-align: left;
	vertical-align: top;
}

.tg .tg-ywlh {
	border-color: inherit;
	color: #232228;
	text-align: left;
	vertical-align: top;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: "Gilroy-Light";
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
  }

  .tg .tg-i5ln {
	border-color: #232228;
	color: #232228;
	font-size: 12px;
	text-align: center;
	vertical-align: top
  }

  .tg .tg-3955 {
	border-color: #232228;
	color: #232228;
	text-align: center;
	vertical-align: top
  }

@media only screen and (max-device-width: 480px) {
	.footer-content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
	}
	.logo {
		width: 149px;
		margin: 20px 0 20px 30px;
	}
	.footer-end {
		padding: 20px 0 20px 0;
	}
	.text-footer-new  {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50% !important;
	}
	.menu-footer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.footer-legal {
		display: flex;
		flex-direction: row;
		justify-content: center;
	
	}
	.menu-footer-text {
		font-size: 18px;
		line-height: 1;
		padding-left: 0px;
		margin: 10px 0 0 30px;
	}
	.menu-footer-text2 {
		font-size: 14px;
		opacity: 0.6;
		color: white;
		line-height: 1;
		padding-left: 0px;
		margin: 10px 0 10px 10px;
	}
	.line {
		width: 100%;
		opacity: 0.3;
		margin: 0;
		border: solid 0.4px #ffffff7a;
	}
	.legal-text {
		padding-left: 5px;
	}
	.social-img {
		margin-top: -60px;
		margin-left: 10px;
	}
	::ng-deep.card {
		background-color: #15141b;
		border: none;
		color: white;
	}
	::ng-deep.card-header {
		background-color: #15141b;
		border: 0;
	}
	.card-gen-title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 300px;
		background-color: #15141b;
		color: white;
	}
	.modal-title {
		font-size: 18px;
		margin: 18px 0 0 23px;
	}
	.long-content {
		font-size: 14px;
		margin: 10px;
	}
	.footer-modal {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 12px;
	}
	.accept-button {
		width: 300px;
		height: 50px;
		padding: 6px;
		border-radius: 29px;
		margin: 10px;
	}
}
