.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-black);
}
.crown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/footer/bigcrown.svg) no-repeat;
  background-size: cover;
  width: 60%;
  padding: 50px 100px 50px 100px;
}

.text-head {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: var(--main-red);
}

.text1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
  opacity: 0.8;
  margin: 10px 0 10px 0;
}

.mail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  width: 349.28px;
  height: 46.36px;
  background: #151419;
  border-radius: 90px;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 20px;
}
input:focus {
  outline: none;
}

.button {
  position: absolute;
  width: 119.7px;
  height: 46.36px;
  left: 55%;
  background: #c1272d;
  box-shadow: 0px 4px 20px rgba(193, 39, 45, 0.2);
  border-radius: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;

  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.social-img {
  margin-top: -25px;
  margin-left: 10px;
}

.footer-end {
  width: 100%;
  background-color: #15141a;
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
}
.menu-footer {
  display: flex;
  flex-direction: row;
}
.menu-text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
  padding-left: 40px;
  opacity: 0.5;
  cursor: pointer;
}
.footer-legal {
  display: flex;
  flex-direction: row;
}
.legal-text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--main-grey);
  padding-left: 29.5px;
  cursor: pointer;
}

.copyright {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #52596b;
}
.title-modal {
	font-size: 30px;
	background: -webkit-linear-gradient(#fa2b56, #f91c3d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-align: center;
	margin-top: 37px;
}
.modal-body {
  color: white;
}

/* ::ng-host.modal-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
} */

@media only screen and (max-device-width: 480px) {
  .crown {
    padding: 0;
  }
  input {
    width: 250px;
    height: 46.36px;
    background: #151419;
    border-radius: 90px;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 20px;
  }
  .footer-end {
    padding: 20px 0 20px 0;
  }
  .text-footer {
    display: flex;;
    flex-direction: row;;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu-text {
    padding-left: 10px;
  }
  .legal-text {
    padding-left: 10px;
  }
}


