<div class="main">
  <div class="center">
    <div class="crown">
      <h1 class="text-head">İhtiyacınız Neyse KingKong O!</h1>
      <h4 class="text1">İhtiyacınıza özel tüm uygulamalar KingKong’da!</h4>
      <h4 class="text1">
        KingKong’da deneyim yaşamak için herhangi bir program indirilmesi
        gerekmez, %100 bulut tabanlıdır.
      </h4>
      <h4 class="text1">
        KingKong ekibi projeniz ve ihtiyaçlarınız doğrultusunda size özel paket
        hazırlar ve profesyonel KingKong ekibi etkinlik süresince ihtiyaçlarınız
        için daima yanınızda olur.
      </h4>
      <!-- <div class="mail">
        <input type="text" placeholder="E-Posta Adresiniz" />
        <div class="button">Abone ol</div>
      </div> -->
    </div>
  </div>
  <div class="footer-end">
    <div class="social">
      <a href="https://www.instagram.com/kingkongistanbul/" target="_blank"> <img src="../../../assets/footer/ig.svg" alt="" class="social-img"></a>
      <a href="https://twitter.com/kingkongistanbul" target="_blank">  <img src="../../../assets/footer/tw.svg" alt="" class="social-img"></a>
      <a href="https://www.facebook.com/kingkongistanbul" target="_blank"><img src="../../../assets/footer/fb.svg" alt="" class="social-img"></a>
      <a href="" target="_blank"><img src="../../../assets/footer/yt.svg" alt="" class="social-img"></a>
    </div>
    <div class="text-footer">
      <img src="../../../assets/logo-grey.svg" alt="" />
      <div class="menu-footer">
        <h1 class="menu-text">KingKong Nedir?</h1>
        <h1 class="menu-text">Neden KingKong?</h1>
        <!-- <h1 class="menu-text">Webinar</h1>
        <h1 class="menu-text">Dewcon</h1> -->
        <h1 class="menu-text">İletişim</h1>
      </div>
      <div class="footer-legal">
        <h1 class="legal-text">Yasal Uyarı</h1>
        <h1 class="legal-text">Gizlilik Politikası</h1>
        <h1 class="legal-text">İletişim</h1>
      </div>
    </div>
    <div>
      <h1 class="copyright">© 2021 | Tüm hakları saklıdır.</h1>
    </div>
  </div>
</div>
