<div class="main">
  <div class="center">
    <div class="crown">
      <h1 class="text-head">İhtiyacınız Neyse KingKong O!</h1>
      <h4 class="text1">İhtiyacınıza özel tüm uygulamalar Akıllı etkinlik sistemi KingKong’da!</h4>
      <h4 class="text1">
        KingKong’da deneyim yaşamak için herhangi bir program indirilmesi gerekmez.
      </h4>
      <h4 class="text1">
        KingKong ekibi projeniz ve ihtiyaçlarınız doğrultusunda size özel paket hazırlar ve profesyonel KingKong ekibi
        etkinlik süresince ihtiyaçlarınız için daima yanınızda olur.
      </h4>
      <!-- <div class="mail">
        <input type="text" placeholder="E-Posta Adresiniz" />
        <div class="button">Abone ol</div>
      </div> -->
    </div>
  </div>
  <div class="footer-end">
    <div class="social">
      <div></div>
      <div></div>
      <div></div>
      <div>
        <a href="https://www.instagram.com/kingkongistanbul/" target="_blank"> <img src="../../../assets/footer/ig.svg"
            alt="" class="social-img"></a>
        <a href="https://twitter.com/kingkongistanbul" target="_blank"> <img src="../../../assets/footer/tw.svg" alt=""
            class="social-img"></a>
        <a href="https://www.facebook.com/kingkongistanbul" target="_blank"><img src="../../../assets/footer/fb.svg"
            alt="" class="social-img"></a>
      </div>
      <!-- <a href="" target="_blank"><img src="../../../assets/footer/yt.svg" alt="" class="social-img"></a> -->
    </div>
    <div class="footer-content">
      <div class="text-footer">
        <img src="../../../assets/logo-grey.svg" alt="" />
        <div class="menu-footer">
          <h1 class="menu-text">KingKong Nedir?</h1>
          <h1 class="menu-text">Neden KingKong?</h1>
          <h1 class="menu-text" (click)="openWeb(web)">Webinar</h1>
          <h1 class="menu-text" (click)="openDev(dev)">Dewcon</h1>
          <h1 class="menu-text">İletişim</h1>
        </div>
        <div class="footer-legal">
          <h1 class="legal-text" (click)="openLegal(legal)">Çerezler</h1>
          <h1 class="legal-text" (click)="openPrivacy(privacy)">Gizlilik Politikası</h1>
          <h1 class="legal-text">İletişim</h1>
        </div>
      </div>
      <div>
        <h1 class="copyright">© 2021 | Tüm hakları saklıdır.</h1>
      </div>
    </div>
  </div>
</div>


<!-- Webinar -->
<ng-template #web let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal">Dewcon</h4>

    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>
  </div>
  <div class="modal-body">
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Sekt&ouml;r
        odaklı &ccedil;&ouml;z&uuml;mlerimizle birlikte Profesyonel KingKong Prod&uuml;ksiyon ekibi toplantılarınızda
        sizinle yakın &ccedil;alışmaya ve ihtiya&ccedil;larınızı sekt&ouml;r odaklı &ccedil;&ouml;zmeye daima
        hazır.&nbsp;</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <ul style="list-style-type: undefined;margin-left:26px;">
      <li><span style="font-family:Calibri;">İnteraktif paneller&nbsp;</span></li>
      <li><span style="font-family:Calibri;">soru-cevap etkinlikleri&nbsp;</span></li>
      <li><span style="font-family:Calibri;">Katılımcılarla canlı sohbet imkanları&nbsp;</span></li>
    </ul>
  </div>
</ng-template>

<!-- Dewcon -->
<ng-template #dev let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal">Dewcon</h4>

    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>
  </div>
  <div class="modal-body">
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">Konuşmalar,
        paneller, stand alanları ve partilerden oluşan g&uuml;nl&uuml;k veya birka&ccedil; g&uuml;nl&uuml;k sanal
        d&uuml;nyanızı yaratarak katılımcılarınıza eşsiz imkanlar sunabilirsiniz.&nbsp;</span></p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><span style="font-size:19px;">&nbsp;</span>
    </p>
    <ul style="list-style-type: undefined;margin-left:26px;">
      <li><span style="font-family:Calibri;">Kitlenizle &ouml;zel paneller, konuşmalar, lansmanlar&nbsp;</span></li>
      <li><span style="font-family:Calibri;">Ger&ccedil;ek zamanlı soru - cevap etkinlikleri</span></li>
      <li><span style="font-family:Calibri;">Katılımcılara sunumlar s&uuml;resince canlı g&ouml;r&uuml;şme ve oylama
          imkanı</span></li>
      <li><span style="font-family:Calibri;">Simultane terc&uuml;me ile kitleleriniz arasındaki iletişim engelini
          ortadan kaldırma imkanı</span></li>
    </ul>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
  </div>
</ng-template>


<!-- Çerezler Modal -->
<ng-template #legal let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal">Çerezler</h4>

    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>

    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;"><strong><span
          style='font-family:"Times New Roman",serif;'>KİNG KONG &Ccedil;EREZ BİLGİLENDİRME METNİ</span></strong></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>King Kong Kongre Eğitim ve Organizasyon Ticaret Ltd. Şti.
        (&ldquo;<strong>Şirketimiz</strong>&rdquo; veya &ldquo;<strong>King Kong</strong>&rdquo;) olarak,
        &ldquo;https://www.kingkongistanbul.com&rdquo; (&ldquo;<strong>Sitemiz</strong>&rdquo;) adresini ziyaret
        ettiğiniz takdirde siz ziyaret&ccedil;ilerimize ait kişisel verilerin 6698 sayılı Kişisel Verilerin Korunması
        Kanunu (&ldquo;<strong>KVKK</strong>&rdquo;) ve ikincil d&uuml;zenlemelerine uygun olarak işlenmesi ve korunması
        i&ccedil;in azami hassasiyeti g&ouml;stermekteyiz. &nbsp;&nbsp;</span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Şirketimiz&rsquo;in KVKK&rsquo;dan doğan aydınlatma
        y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; kapsamında sizleri işbu King Kong &Ccedil;erez Bilgilendirme Metni
        (&ldquo;</span><strong><span style='font-family:"Times New Roman",serif;'>&Ccedil;erez Bilgilendirme
          Metni</span></strong><a href="#_msocom_1" id="_anchor_1" language="JavaScript" name="_msoanchor_1">[1]</a>
      <span style='font-family:"Times New Roman",serif;'>&rdquo;) ile birlikte Şirketimiz tarafından kullanılan
        &ccedil;erezler ve bu vasıtayla işlenen kişisel verileriniz hakkında bilgilendirmek isteriz. &nbsp;</span></p>
    <p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;"><strong><span
          style='font-size:15px;line-height:150%;font-family:"Times New Roman",serif;'>&Ccedil;erezler Vasıtasıyla
          İşlenen Kişisel Verileriniz&nbsp;</span></strong></p>
    <p style="line-height:150%;border:none;"><span
        style='font-family:"Times New Roman",serif;color:white;'>&Ccedil;erezler vasıtasıyla&nbsp;</span><span
        style='font-family:"Times New Roman",serif;color:white;'>log, dış IP ve MAC adresi</span><a href="#_msocom_2"
        id="_anchor_2" language="JavaScript" name="_msoanchor_2">[2]</a> <span
        style='font-family:"Times New Roman",serif;'>&nbsp;verilerinizi <span
          style="color:white;">işlemekteyiz.&nbsp;</span></span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <strong><span style='font-family:"Times New Roman",serif;color:white;'>Hangi &Ccedil;erez T&uuml;rlerini
          Kullanmaktayız?</span></strong></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>&Ccedil;erezler <em>(cookies)</em> bir internet
        sitesi tarafından cihazınızda oluşturulan ve isim-değer formatında veri barındıran k&uuml;&ccedil;&uuml;k metin
        dosyalarıdır. Dolayısıyla, Sitemiz&rsquo;i ziyaret etmenizle birlikte kullandığımız &ccedil;erezler cihazınızda
        site ziyaretinize ilişkin bilgi saklanmasını ve bu bilgilerin sonraki ziyaretleriniz sırasında kullanılmasını
        m&uuml;mk&uuml;n kılmaktadır.&nbsp;</span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>Sitemiz tarafından oluşturulan ve sadece Sitemiz
        tarafından okunabilen &ccedil;erezler <strong>birincil &ccedil;erezlerdir.</strong></span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Sitemiz&rsquo;de sunulan i&ccedil;erik, erişim adresindeki alan
        adı dışında başka alan adları &uuml;zerinden de sağlanmaktadır. Bu gibi durumlarda her bir alan adı kendine
        m&uuml;nhasır <strong>&uuml;&ccedil;&uuml;nc&uuml; taraf &ccedil;erezler&nbsp;</strong>yaratmaktadır.</span><a
        href="#_msocom_3" id="_anchor_3" language="JavaScript" name="_msoanchor_3">[3]</a>&nbsp;</p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>Sitemiz&rsquo;de kullandığımız &ccedil;erez
        t&uuml;rleri ile bu &ccedil;erezleri kullanım ama&ccedil;larımız aşağıdaki gibidir:</span></p>
    <table style="width: 4.9e+2pt;border-collapse:collapse;border:none;">
      <tbody>
        <tr>
          <td
            style="width: 30.75pt;border-width: 1pt;border-style: solid;border-color: rgb(217, 234, 211) rgb(217, 149, 148) rgb(217, 234, 211) rgb(217, 234, 211);border-image: initial;background: rgb(109, 158, 235);padding: 0cm 5.4pt;height: 48pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;'>No.</span></strong></p>
          </td>
          <td
            style="width: 87.75pt;border-top: 1pt solid rgb(217, 234, 211);border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 149, 148);background: rgb(109, 158, 235);padding: 0cm 5.4pt;height: 48pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>&Ccedil;erez
                  T&uuml;r&uuml;</span></strong></p>
          </td>
          <td
            style="width: 368.25pt;border-top: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);border-bottom: 1pt solid rgb(217, 234, 211);border-image: initial;border-left: none;background: rgb(109, 158, 235);padding: 0cm 5.4pt;height: 48pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>Kullanım
                  Ama&ccedil;ları</span></strong></p>
          </td>
        </tr>
        <tr>
          <td
            style="width: 30.75pt;border-right: 1pt solid rgb(217, 234, 211);border-bottom: 1pt solid rgb(217, 234, 211);border-left: 1pt solid rgb(217, 234, 211);border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 29pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;'>1.</span></strong></p>
          </td>
          <td
            style="width: 87.75pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);padding: 0cm 5.4pt;height: 29pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;'>Oturum &Ccedil;erezleri</span></strong></p>
          </td>
          <td
            style="width: 368.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);padding: 0cm 5.4pt;height: 29pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;'>Oturum &ccedil;erezleri, Sitemiz&rsquo;i kullanımınız
                sırasında ge&ccedil;erli olan &ccedil;erezler olup internet tarayıcınızı kapatıncaya kadar
                ge&ccedil;erliliklerini korurlar.</span></p>
          </td>
        </tr>
        <tr>
          <td
            style="width: 30.75pt;border-right: 1pt solid rgb(217, 234, 211);border-bottom: 1pt solid rgb(217, 234, 211);border-left: 1pt solid rgb(217, 234, 211);border-image: initial;border-top: none;background: rgb(201, 218, 248);padding: 0cm 5.4pt;height: 42pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>2.</span></strong></p>
          </td>
          <td
            style="width: 87.75pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);background: rgb(201, 218, 248);padding: 0cm 5.4pt;height: 42pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>Kalıcı
                  &Ccedil;erezler</span></strong></p>
          </td>
          <td
            style="width: 368.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);background: rgb(201, 218, 248);padding: 0cm 5.4pt;height: 42pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>Bu &ccedil;erezler tarayıcınızda saklanan
                ve tarafınızca silininceye dek veya son kullanım tarihine kadar ge&ccedil;erliliğini koruyan
                &ccedil;erezlerdir.&nbsp;</span></p>
          </td>
        </tr>
        <tr>
          <td
            style="width: 30.75pt;border-right: 1pt solid rgb(217, 234, 211);border-bottom: 1pt solid rgb(217, 234, 211);border-left: 1pt solid rgb(217, 234, 211);border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 58pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;'>3.</span></strong></p>
          </td>
          <td
            style="width: 87.75pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);padding: 0cm 5.4pt;height: 58pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;'>Zorunlu &Ccedil;erezler</span></strong></p>
          </td>
          <td
            style="width: 368.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);padding: 0cm 5.4pt;height: 58pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;'>Sitemiz&rsquo;in d&uuml;zg&uuml;n bir şekilde
                &ccedil;alışabilmesi, Sitemiz&rsquo;in &ouml;zelliklerinden ve sunulan hizmetlerden yararlanabilmeniz
                i&ccedil;in kullanımı mecburi olan &ccedil;erezlerdir.</span></p>
          </td>
        </tr>
        <tr>
          <td
            style="width: 30.75pt;border-right: 1pt solid rgb(217, 234, 211);border-bottom: 1pt solid rgb(217, 234, 211);border-left: 1pt solid rgb(217, 234, 211);border-image: initial;border-top: none;background: rgb(201, 218, 248);padding: 0cm 5.4pt;height: 97pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>4.</span></strong></p>
          </td>
          <td
            style="width: 87.75pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);background: rgb(201, 218, 248);padding: 0cm 5.4pt;height: 97pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>İşlevsel ve Analitik
                  &Ccedil;erezler</span></strong></p>
          </td>
          <td
            style="width: 368.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);background: rgb(201, 218, 248);padding: 0cm 5.4pt;height: 97pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>Sitemiz&rsquo;i ziyaretiniz sırasındaki
                davranış ve tercihlerinizin hatırlanması, Sitemiz&rsquo;in etkin bir şekilde kullanılması,
                Sitemiz&rsquo;in isteklerinize cevap verecek şekilde optimize edilmesi gibi ama&ccedil;larla kullanılan
                ve siteyi nasıl kullandığınız hakkında verileri i&ccedil;eren &ccedil;erezlerdir. Nitelikleri gereği bu
                t&uuml;rdeki &ccedil;erezler kişisel verilerinizi i&ccedil;erebilir. Bu &ccedil;erezler vasıtasıyla
                &ouml;rneğin Sitelerimizin g&ouml;r&uuml;nt&uuml;lenme dil tercihiniz işlenir.&nbsp;</span></p>
          </td>
        </tr>
        <tr>
          <td
            style="width: 30.75pt;border-right: 1pt solid rgb(217, 234, 211);border-bottom: 1pt solid rgb(217, 234, 211);border-left: 1pt solid rgb(217, 234, 211);border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 97pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>5.</span></strong></p>
          </td>
          <td
            style="width: 87.75pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);padding: 0cm 5.4pt;height: 97pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;'>Pazarlama &Ccedil;erezleri</span></strong><a
                href="#_msocom_4" id="_anchor_4" language="JavaScript" name="_msoanchor_4">[4]</a>&nbsp;</p>
          </td>
          <td
            style="width: 368.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 234, 211);border-right: 1pt solid rgb(217, 234, 211);padding: 0cm 5.4pt;height: 97pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>6563 Sayılı Elektronik Ticaretin
                D&uuml;zenlenmesi Hakkında Kanun uyarınca</span></p>
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>Ticari İletişim i&ccedil;in kullanıcı
                nezdinde yerleştirilen &ccedil;erezler.</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>Sitemiz&rsquo;de kullandığımız
        &uuml;&ccedil;&uuml;nc&uuml; taraf &ccedil;erezler ile sizlere daha verimli ve işlevsel bir internet deneyimi
        sunmayı ama&ccedil;lamaktayız. Bu &uuml;&ccedil;&uuml;nc&uuml; kişi hizmet sağlayıcılar ile Şirketimiz arasında
        KVK</span><span style='font-family:"Times New Roman",serif;'>K<span style="color:white;">&nbsp;uyarınca
          KVK&nbsp;</span>Protokol&uuml;<span style="color:white;">&nbsp;akdedilmiş olup bu kişiler tarafından
          Şirketimiz adına elde edilen kişisel verilerinizin g&uuml;venliği garanti altına
          alınmıştır.&nbsp;</span></span></p>
    <p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;"><strong><span
          style='font-size:15px;line-height:150%;font-family:"Times New Roman",serif;'>&Ccedil;erezlerin Saklanması ve
          Erişilmesi</span></strong></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>Sitemiz tarafından oluşturulan &ccedil;erezler
        Sitemize erişim i&ccedil;in kullandığınız internet sitesi tarayıcınız tarafından bilgisayarınızda
        saklanmaktadır. Bu &ccedil;erezlerin i&ccedil;erdiği bilgilere sadece &ccedil;erezi oluşturan alan
        adı&nbsp;</span><em><span style='font-family:"Times New Roman",serif;'>(https://www.kingkongistanbul.com<span
            style="color:white;">)</span></span></em><span
        style='font-family:"Times New Roman",serif;color:white;'>&nbsp;altında sunulan Sitemiz</span><span
        style='font-family:"Times New Roman",serif;'>&nbsp;<span style="color:white;">tarafından ve aynı tarayıcıyı
          kullandığınız takdirde uzaktan erişim m&uuml;mk&uuml;nd&uuml;r.</span></span></p>
    <p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;"><strong><span
          style='font-size:15px;line-height:150%;font-family:"Times New Roman",serif;'>&Ccedil;erezleri Kabul Etmek
          Sizin Elinizde</span></strong></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>İnternet tarayıcılarınız genellikle ziyaret
        ettiğiniz sitelerde kullanılan &ccedil;erezleri otomatik olarak kabul etmektedir. İnternet sitelerimizi
        kullanabilmek i&ccedil;in &ccedil;erez kullanımı zorunlu değildir fakat tarayıcınızı t&uuml;m &ccedil;erezleri
        engelleyecek şekilde ayarlamanız halinde kullanıcı deneyiminizin kalitesi d&uuml;şebilir ve Sitemiz&rsquo;e
        erişim sağlamanızı ya da Sitemiz&rsquo;in &ccedil;eşitli işlevlerinden yararlanmanızı engelleyebilir.</span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>Tarayıcınızı &ccedil;erezleri t&uuml;m siteler veya
        belirli siteler i&ccedil;in engelleyecek, &ccedil;erez oluşturulduğunda uyarı verecek,
        &uuml;&ccedil;&uuml;nc&uuml; taraf &ccedil;erezleri engelleyecek veya t&uuml;m &ccedil;erezleri oturum
        &ccedil;erezi gibi sayacak şekilde yapılandırabilirsiniz.&nbsp;</span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>Diğer yandan, tarayıcınız &uuml;zerinden
        cihazınızda kaydedilen &ccedil;erezleri silebilir veya bu &ccedil;erezlerin listesini ve değerlerini
        g&ouml;rebilir ve takip edebilirsiniz. Aşağıda listelenen tarayıcılardan kullanmakta olduğunuza tıklayarak
        &ccedil;erez y&ouml;netimlerine ilişkin detaylı bilgi alabilirsiniz.</span></p>
    <table style="width: 3.3e+2pt;border-collapse:collapse;border:none;">
      <tbody>
        <tr>
          <td style="width: 65.2pt;border: none;padding: 0cm 5.4pt;height: 75pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
              <a
                href="https://support.microsoft.com/tr-tr/help/278835/how-to-delete-cookie-files-in-internet-explorer"></a>
            </p>
          </td>
          <td style="width: 65.2pt;border: none;padding: 0cm 5.4pt;height: 75pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
              <a href="https://support.google.com/chrome/answer/95647?hl=tr"></a></p>
          </td>
          <td style="width: 65.2pt;border: none;padding: 0cm 5.4pt;height: 75pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
              <a href="https://support.apple.com/kb/PH21411?viewlocale=tr_TR&locale=tr_TR"></a></p>
          </td>
          <td style="width: 65.25pt;border: none;padding: 0cm 5.4pt;height: 75pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
              <a
                href="https://support.mozilla.org/tr/kb/firefoxta-gezinti-arama-ve-indirme-gecmisini-silme?redirectlocale=tr&redirectslug=Yak%C4%B1n+Ge%C3%A7mi%C5%9Fi+Temizle"></a>
            </p>
          </td>
          <td style="width: 65.25pt;border: none;padding: 0cm 5.4pt;height: 75pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
              <a href="http://www.opera.com/help/tutorials/security/privacy/"></a></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>&Ccedil;erezler işbu &Ccedil;erez Bilgilendirme
        Metni&rsquo;nde belirtilen ama&ccedil;lar dışında kullanılmamakta olup t&uuml;m ilgili işlemler KVK</span><span
        style='font-family:"Times New Roman",serif;'>K&rsquo;ya<span style="color:white;">&nbsp;uygun olarak
          y&uuml;r&uuml;t&uuml;lmektedir. &Ccedil;erezler vasıtasıyla elde edilen kişisel verileriniz Şirketimiz
          tarafından KVK</span>K&rsquo;ya <span style="color:white;">uygun olarak işlenmekte, saklanmakta ve
          g&uuml;venliği sağlanmaktadır.</span></span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;border:none;">
      <span style='font-family:"Times New Roman",serif;color:white;'>Sitemiz tarafından işlenen kişisel verileriniz
        hakk</span><span style='font-family:"Times New Roman",serif;'>ında daha detaylı bilgi i&ccedil;in
        l&uuml;tfen&nbsp;</span><em><span style='font-family:"Times New Roman",serif;'>King Kong İnternet Sitesi KVK
          Bilgilendirme Metni</span></em><a href="#_msocom_5" id="_anchor_5" language="JavaScript"
        name="_msoanchor_5">[5]</a> <span style='font-family:"Times New Roman",serif;'>&rsquo;ni<span
          style="color:white;">&nbsp;okuyunuz.</span></span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <strong><span style='font-family:"Times New Roman",serif;'>Bilgi Edinme Hakkınız</span></strong></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>KVKK&rsquo;nın 11. maddesi kapsamında, Şirketimiz&rsquo;e
        başvurarak kişisel verilerinizin, <strong><em>(i)</em></strong> işlenip işlenmediğini &ouml;ğrenme,
        <strong><em>(ii)</em></strong> işlenmişse buna ilişkin bilgi talep etme, işlenme amacını ve amacına uygun
        kullanılıp kullanılmadığını &ouml;ğrenme, <strong><em>(iii)</em></strong> yurt i&ccedil;inde/yurt dışında
        aktarıldığı 3. kişileri bilme, eksik/yanlış işlenmişse d&uuml;zeltilmesini isteme,
        <strong><em>(iv)</em></strong> KVKK&rsquo;nın 7. maddesinde &ouml;ng&ouml;r&uuml;len şartlar
        &ccedil;er&ccedil;evesinde silinmesini/yok edilmesini isteme, <strong><em>(v)</em></strong> kişisel
        verilerinizin KVKK&rsquo;nın 7. maddesi kapsamında silinmesi ve yok edilmesi ve eksik/yanlış işlenmiş kişisel
        verilerinin d&uuml;zeltilmesi taleplerinin, kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere
        bildirilmesini isteme, <strong><em>(vi)</em></strong> m&uuml;nhasıran otomatik sistemler ile analiz edilmesi
        nedeniyle aleyhinize bir sonucun ortaya &ccedil;ıkmasına itiraz etme, <strong><em>(vii)</em></strong> kanuna
        aykırı olarak işlenmesi sebebiyle zarara uğramanız h&acirc;linde zararın giderilmesini talep etme haklarına
        sahip olduğunuzu bildiririz. &nbsp;</span></p>
    <p
      style="margin-top:14.4pt;margin-right:0cm;margin-bottom:14.4pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>&Ccedil;erezler ile ilgili daha detaylı bilgi almak isteyen
        ziyaret&ccedil;ilerimizin&nbsp;</span><a href="http://www.aboutcookies.org"><span
          style='font-family:"Times New Roman",serif;color:windowtext;text-decoration:none;'>www.aboutcookies.org</span></a><span
        style='font-family:"Times New Roman",serif;'>,&nbsp;</span><a href="http://www.youronlinechoices.eu"><span
          style='font-family:"Times New Roman",serif;color:windowtext;text-decoration:none;'>www.youronlinechoices.eu</span></a><span
        style='font-family:"Times New Roman",serif;'>&nbsp;adreslerini ziyaret etmeleri &ouml;nerilir.</span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>İşbu &Ccedil;erez Bilgilendirme Metni hakkında sorunuz olması
        halinde l&uuml;tfen KVK Yetkilisi ile irtibata ge&ccedil;iniz.</span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <strong><span style='font-family:"Times New Roman",serif;'>KVK Yetkilisi:</span></strong><a href="#_msocom_6"
        id="_anchor_6" language="JavaScript" name="_msoanchor_6">[6]</a>&nbsp;</p>
    <table style="width: 4.5e+2pt;border-collapse:collapse;border:none;">
      <tbody>
        <tr>
          <td style="width:145.45pt;border:solid white 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;">
              <strong><span style='font-family:"Times New Roman",serif;'>[<span
                    style="background:yellow;">.</span>]</span></strong></p>
          </td>
          <td
            style="width:145.5pt;border:solid white 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt;">
            <p
              style="margin-top:10.0pt;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;text-align:center;line-height:150%;">
              <strong><span style='font-family:"Times New Roman",serif;'>[<span
                    style="background:yellow;">.</span>]</span></strong></p>
          </td>
          <td
            style="width:159.85pt;border:solid white 1.0pt;border-left:  none;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;">
              <strong><span style='font-family:"Times New Roman",serif;'>[<span
                    style="background:yellow;">.</span>]</span></strong></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>İşbu &Ccedil;erez Bilgilendirme Metni, değişen
        s&uuml;re&ccedil;lerimiz dolayısıyla KVKK&rsquo;ya uyum sağlamak amacıyla g&uuml;ncellenebilecektir. Otomatik
        e-posta g&ouml;nderim listemizde yer alıyorsanız, g&uuml;ncellemelerimiz size e-posta yolu ile bildirilecektir.
        Otomatik e-posta g&ouml;nderim listemizde yer almıyor iseniz g&uuml;ncellemeler i&ccedil;in belirli aralıklarla
        sitemizi ziyaret etmenizi rica ederiz.</span></p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:right;line-height:150%;border:none;">
      <strong><span style='font-size:16px;line-height:150%;font-family:"Times New Roman",serif;'>King Kong Kongre Eğitim
          ve Organizasyon Ticaret Ltd. Şti<span style="color:white;">.</span></span></strong></p>
    <div id="_com_1" language="JavaScript">
      <p style="line-height:normal;border:none;"><span style="color:white;">İşbu metni King Kong İnternet Sitesi
          Bilgilendirme Metni ile birlikte değerlendirmenizi rica ederiz.</span></p>
    </div>
    <div id="_com_5" language="JavaScript">
      <p style="line-height:normal;border:none;"><span style="color:white;">İnternet Sitesi KVK Bilgilendirme
          Metni&rsquo;ne y&ouml;nlendirme sağlamanızı &ouml;neririz.</span></p>
      <p style="line-height:normal;border:none;"><span style="color:white;">&nbsp;</span></p>
      <p style="line-height:normal;border:none;"><span style="color:white;">Yukarıdaki yorumlarımıza vereceğiniz
          cevaplar ve detaylı a&ccedil;ıklamalarınız doğrultusunda İnternet Sitesi Bilgilendirme Metni&apos;nde revizyon
          yapmamız gerekebilir.</span></p>
    </div>
    <div id="_com_6" language="JavaScript">
      <p style="line-height:normal;border:none;"><span style="color:white;">L&uuml;tfen aşağıdaki tabloyu KVK
          Yetkilisinin adı-soyadı, telefon numarası ve e-posta adresi ile doldurunuz.</span></p>
    </div>
  </div>
  <div class="footer-modal">
    <button type="button" class="send-button" (click)="modal.close('Cross click')">Onayla</button>
  </div>
</ng-template>


<!-- Gizlilik Modal -->
<ng-template #privacy let-modal>
  <div class="header-modal">
    <div></div>
    <h4 class="title-modal">KİNG KONG İNTERNET SİTESİ<br>KVK BİLGİLENDİRME METNİ</h4>
    <button href="" class="close-button" (click)="modal.close('Cross click')" aria-hidden="true"><img
        src="../../../assets/modal-close.svg" alt=""></button>
  </div>
  <div class="modal-body">
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      &nbsp; &nbsp; &nbsp;<span style='font-family:"Times New Roman",serif;'>King Kong Kongre Eğitim ve Organizasyon
        Ticaret Ltd. Şti.</span><a href="#_msocom_1" id="_anchor_1" language="JavaScript" name="_msoanchor_1">[1]</a>
      <strong><span style='font-family:"Times New Roman",serif;'>&nbsp;</span></strong><span
        style='font-family:"Times New Roman",serif;'>(&ldquo;<strong>Şirketimiz</strong>&rdquo; veya &ldquo;<strong>King
          Kong</strong>&rdquo;) olarak, resmi internet sitemiz olan &ldquo;</span><span
        style='font-family:"Times New Roman",serif;'>https://www.kingkongistanbul.com</span><a href="#_msocom_2"
        id="_anchor_2" language="JavaScript" name="_msoanchor_2">[2]</a> <span
        style='font-family:"Times New Roman",serif;color:white;'>&rdquo;&nbsp;</span><span
        style='font-family:"Times New Roman",serif;'>(&ldquo;<strong>Sitemiz</strong>&rdquo;) adresini ziyaret ettiğiniz
        takdirde siz ziyaret&ccedil;ilerimize ait kişisel verilerin 6698 sayılı Kişisel Verilerin Korunması Kanunu
        (&ldquo;<strong>KVKK</strong>&rdquo;) ve ikincil d&uuml;zenlemelerine uygun olarak işlenmesi ve korunması
        i&ccedil;in azami hassasiyeti g&ouml;stermekteyiz.&nbsp;</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Şirketimiz&rsquo;in KVKK&rsquo;dan doğan aydınlatma
        y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; kapsamında siz internet sitesi ziyaret&ccedil;ilerimizi işbu King Kong
        İnternet Sitesi KVK Bilgilendirme Metni (&ldquo;<strong>Bilgilendirme Metni</strong>&rdquo;) aracılığıyla
        bilgilendirmek isteriz.</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <strong><span style='font-family:"Times New Roman",serif;'>Kişisel verilerinizi hangi ama&ccedil;larla ve hangi
          yollarla elde ediyor ve işliyoruz?</span></strong>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Şirketimiz tarafından,
        &ldquo;https://www.kingkongistanbul.com&rdquo; adresini ziyaret etmenizle birlikte başta trafik verileriniz
        olmak &uuml;zere aşağıda belirtilen kişisel verileriniz, beraberinde a&ccedil;ıklanan ama&ccedil;larla
        bağlantılı, sınırlı ve &ouml;l&ccedil;&uuml;l&uuml; bir şekilde elektronik ve fiziki ortamlarda yazılı olarak,
        otomatik ve otomatik olmayan y&ouml;ntemlerle KVKK&rsquo;ya uygun olarak Şirketimiz tarafından işlenmektedir.
        &nbsp;</span>
    </p>
    <table style="width: 4.9e+2pt;border-collapse:collapse;border:none;">
      <tbody>
        <tr>
          <td style="width: 89.75pt;border: 1pt solid white;padding: 0cm 5.4pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>Kişisel Veriniz</span></strong>
            </p>
          </td>
          <td
            style="width: 205.35pt;border-top: 1pt solid white;border-right: 1pt solid white;border-bottom: 1pt solid white;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>Şirketimize Ulaştığı
                  Ortam</span></strong>
            </p>
          </td>
          <td
            style="width: 191.7pt;border-top: 1pt solid white;border-right: 1pt solid white;border-bottom: 1pt solid white;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;border:none;">
              <strong><span style='font-family:"Times New Roman",serif;color:white;'>İşleme
                  Amacımız/Ama&ccedil;larımız</span></strong>
            </p>
          </td>
        </tr>
        <tr>
          <td style="width:89.75pt;border:solid white 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:40.0pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:150%;border:none;">
              <a href="#_msocom_3" id="_anchor_3" language="JavaScript" name="_msoanchor_3">[3]</a> <span
                style='font-family:"Times New Roman",serif;color:white;'>Adınız, soyadınız, telefon numaranız ve şahıs
                şirketi olmanız halinde şirket adınız</span>
            </p>
          </td>
          <td
            style="width:205.35pt;border-top:none;border-left:none;border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:40.0pt;">
            <p style="line-height:150%;"><span
                style='font-family:  "Times New Roman",serif;color:blue;background:white;'>&nbsp;</span></p>
            <ul style="list-style-type: undefined;margin-left:8px;">
              <li><span style='font-family:"Times New Roman",serif;background:white;'>&nbsp; &nbsp;&nbsp;</span><span
                  style='font-family:"Times New Roman",serif;'>[.]</span><a href="#_msocom_4" id="_anchor_4"
                  language="JavaScript" name="_msoanchor_4">[4]</a>&nbsp;</li>
            </ul>
            <p style="line-height:150%;">&nbsp;</p>
          </td>
          <td
            style="width:191.7pt;border-top:none;border-left:none;border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:40.0pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>&Uuml;r&uuml;n ve hizmetlerimize ilişkin
                talep, şik&acirc;yet, soru ve &ouml;nerilerinize cevap verebilmek ve &uuml;r&uuml;n ve hizmetlerimize
                ilişkin olarak entegrasyon s&uuml;re&ccedil;lerini y&uuml;r&uuml;tmek.</span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="width:89.75pt;border:solid white 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:40.0pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>Adınız, soyadınız, e-posta adresiniz ve
                e-posta</span><span style='font-family:"Times New Roman",serif;'>&nbsp;<span
                  style="color:white;">i&ccedil;eriğinde paylaşılan kişisel bilgileriniz&nbsp;</span></span>
            </p>
          </td>
          <td
            style="width:205.35pt;border-top:none;border-left:none;border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:40.0pt;">
            <ul style="list-style-type: undefined;margin-left:8px;">
              <li><span style='font-family:"Times New Roman",serif;'>&nbsp; &nbsp;<span
                    style="background:yellow;">[.]</span></span></li>
            </ul>
          </td>
          <td
            style="width:191.7pt;border-top:none;border-left:none;border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:40.0pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>&Uuml;r&uuml;n ve hizmetlerimize ilişkin
                talep, şik&acirc;yet, soru ve &ouml;nerilerinize cevap verebilmek ve &uuml;r&uuml;n ve hizmetlerimize
                ilişkin olarak entegrasyon s&uuml;re&ccedil;lerini y&uuml;r&uuml;tmek.</span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="width:89.75pt;border:solid white 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>Trafik verisi</span>
            </p>
          </td>
          <td
            style="width:205.35pt;border-top:none;border-left:none;border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
            <ul style="list-style-type: undefined;margin-left:8px;">
              <li><span style='font-family:"Times New Roman",serif;'>https://www.kingkongistanbul.com</span></li>
            </ul>
          </td>
          <td
            style="width: 191.7pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid white;padding: 0cm 5.4pt;vertical-align: top;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:  6.0pt;margin-left:0cm;line-height:150%;border:none;">
              <span style='font-family:"Times New Roman",serif;color:white;'>5651 sayılı İnternet Ortamında Yapılan
                Yayınların D&uuml;zenlenmesi ve Bu Yayınlar Yoluyla İşlenen Su&ccedil;larla M&uuml;cadele Edilmesi
                Hakkında Kanun ve ikincil d&uuml;zenlemelerinden doğan y&uuml;k&uuml;ml&uuml;l&uuml;klerimizi yerine
                getirmek.</span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>&nbsp;</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>İşbu Bilgilendirme Metni&rsquo;nde sayılan kişisel verileriniz,
        yine bu metinde belirtilen ama&ccedil;ların yanı sıra Şirketimiz&rsquo;in ticari faaliyetlerinin
        y&uuml;r&uuml;t&uuml;lebilmesi amacıyla bağlantılı, sınırlı ve &ouml;l&ccedil;&uuml;l&uuml; olarak dış hizmet
        sağlayıcıları (IT uzmanları, veri tabanı sağlayıcıları, reklam ajansları, yedekleme ve kurtarma uzmanları vb.)
        ile KVKK&rsquo;ya uygun olarak paylaşılmaktadır.&nbsp;</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Kişisel verilerinizi paylaştığımız &uuml;&ccedil;&uuml;nc&uuml;
        kişiler KVKK&rsquo;da aksi &ouml;ng&ouml;r&uuml;lmedik&ccedil;e paylaşım amacıyla bağlı ve sınırlı olarak
        kişisel verilerinizi işlemek ve korumakla s&ouml;zleşme ilişkimiz kapsamında y&uuml;k&uuml;ml&uuml; olup bu
        husus King Kong&rsquo;un denetimindedir.</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Kişisel verilerinizi son olarak hukuki sorumluluk ve
        y&uuml;k&uuml;ml&uuml;l&uuml;klerimizi yerine getirmek amacıyla resmi kurum ve kuruluşlar ve yargı makamları ile
        KVKK&rsquo;ya uygun olarak paylaşmaktayız.</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <strong><span style='font-family:"Times New Roman",serif;'>Kişisel verileriniz yurtdışına aktarılıyor
          mu?</span></strong><a href="#_msocom_5" id="_anchor_5" language="JavaScript" name="_msoanchor_5">[5]</a>&nbsp;
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Şirketimiz&rsquo;e elektronik posta aracılığıyla ile ulaşmanız
        durumunda, Şirketimiz kişisel verilerinizi iş s&uuml;rekliliğinin sağlanması ve sizinle iletişime
        ge&ccedil;ebilmek ama&ccedil;larıyla a&ccedil;ık rızanız dahilinde yurtdışında mukim
        &uuml;&ccedil;&uuml;nc&uuml; kişilere (Microsoft Office 365) aktarmaktadır.</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Şirketimiz toplamış olduğu kişisel verilerinizi yukarıda yer
        alan alıcı grupları haricinde yurt dışında mukim herhangi bir &uuml;&ccedil;&uuml;nc&uuml; kişiye
        aktarmamaktadır.&nbsp;</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <strong><span style='font-family:"Times New Roman",serif;'>Kişisel verilerinizin g&uuml;venliği, muhafazası ve
          imhası</span></strong>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Şirketimiz, kişisel veri g&uuml;venliği ve mahremiyetinin
        korunması konusunda olduk&ccedil;a y&uuml;ksek bir farkındalığa sahiptir. King Kong işbu Bilgilendirme
        Metni&rsquo;nde belirtilen siz ziyaret&ccedil;ilerimize ait kişisel verileri, başta <span
          style="color:white;">KVK</span>K<span style="color:white;">&nbsp;olmak &uuml;zere
          Şirketimiz</span>&rsquo;<span style="color:white;">in Kişisel Veri Saklama ve İmha Politikası&rsquo;na uygun
          şekilde g&uuml;venliğini sağlayarak işlemektedir.&nbsp;</span></span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Kişisel verileriniz, işbu Bilgilendirme Metni&rsquo;nde
        belirtilen işleme ama&ccedil;ları i&ccedil;in gerekli olan s&uuml;re ve her hal&uuml;karda yasal
        d&uuml;zenlemelerde belirtilen kanuni zamanaşımı s&uuml;releri boyunca muhafaza edilmektedir. Şirketimiz, anılan
        s&uuml;relerin sona ermesi halinde King Kong Kişisel Veri Saklama ve İmha Politikası doğrultusunda kişisel
        verilerinizi siler, yok eder veya anonim hale getirir.</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>Kişisel verilerinize yetkisiz kişiler tarafından erişilmesini,
        kişisel verilerinizin hatalı işlenmesini, ifşa edilmesini, hukuka uygun olmayan sebeplerle
        değiştirilmesini/silinmesini &ouml;nlemek, korunmasını ve g&uuml;venliğini sağlamak amacıyla Şirketimiz KVKK
        uyarınca gerekli t&uuml;m teknik ve idari tedbirleri alır. KVKK uyarınca gereken hallerde King Kong sizleri ve
        Kişisel Verileri Koruma Kurulu&rsquo;nu derhal bilgilendirir.</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <strong><span style='font-family:"Times New Roman",serif;'>Bilgi Edinme Hakkınız</span></strong>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>KVKK&rsquo;nın 11. maddesi kapsamında Şirketimiz&rsquo;e
        başvurarak kişisel verilerinizin; <strong><em>(i)</em></strong> işlenip işlenmediğini &ouml;ğrenme,
        <strong><em>(ii)</em></strong> işlenmişse buna ilişkin bilgi talep etme, işlenme amacını ve amacına uygun
        kullanılıp kullanılmadığını &ouml;ğrenme, <strong><em>(iii)</em></strong> yurt i&ccedil;inde/yurt dışında
        aktarıldığı 3. kişileri bilme, eksik/yanlış işlenmişse d&uuml;zeltilmesini isteme,
        <strong><em>(iv)</em></strong> KVKK&rsquo;nın 7. maddesinde &ouml;ng&ouml;r&uuml;len şartlar
        &ccedil;er&ccedil;evesinde silinmesini/yok edilmesini isteme, <strong><em>(v)</em></strong> kişisel
        verilerinizin KVKK&rsquo;nın 7. maddesi kapsamında silinmesi ve yok edilmesi ve eksik/yanlış işlenmiş kişisel
        verilerinin d&uuml;zeltilmesi taleplerinin, kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere
        bildirilmesini isteme, <strong><em>(vi)</em></strong> m&uuml;nhasıran otomatik sistemler ile analiz edilmesi
        nedeniyle aleyhinize bir sonucun ortaya &ccedil;ıkmasına itiraz etme, <strong><em>(vii)</em></strong> kanuna
        aykırı olarak işlenmesi sebebiyle zarara uğramanız h&acirc;linde zararın giderilmesini talep etme haklarına
        sahip olduğunuzu bildiririz.&nbsp;</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;'>İşbu Bilgilendirme Metni hakkında sorunuz olması halinde
        l&uuml;tfen KVK Yetkilisi ile irtibata ge&ccedil;iniz.&nbsp;</span>
    </p>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <strong><span style='font-family:"Times New Roman",serif;'>KVK Yetkilisi:&nbsp;</span></strong><a
        href="#_msocom_6" id="_anchor_6" language="JavaScript" name="_msoanchor_6">[6]</a>&nbsp;
    </p>
    <table style="width: 4.5e+2pt;border-collapse:collapse;border:none;">
      <tbody>
        <tr>
          <td style="width:145.45pt;border:solid white 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:29.0pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;">
              <strong><span style='font-family:"Times New Roman",serif;'>[<span
                    style="background:yellow;">.</span>]</span></strong>
            </p>
          </td>
          <td
            style="width:145.5pt;border:solid white 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:29.0pt;">
            <p
              style="margin-top:10.0pt;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;text-align:center;line-height:150%;">
              <strong><span style='font-family:"Times New Roman",serif;'>[<span
                    style="background:yellow;">.</span>]</span></strong>
            </p>
          </td>
          <td
            style="width:159.85pt;border:solid white 1.0pt;border-left:  none;padding:0cm 5.4pt 0cm 5.4pt;height:29.0pt;">
            <p
              style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;line-height:150%;">
              <strong><span style='font-family:"Times New Roman",serif;'>[<span
                    style="background:yellow;">.</span>]</span></strong>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p
      style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:justify;line-height:150%;">
      <span style='font-family:"Times New Roman",serif;color:white;'>İşbu Bilgilendirme Metni, değişen
        s&uuml;re&ccedil;lerimiz dolayısıyla KVKK&rsquo;ya uyum sağlamak amacıyla g&uuml;ncellenebilecektir.
        Ger&ccedil;ekleşebilecek g&uuml;ncellemeler i&ccedil;in sitemizi ziyaret etmenizi rica ederiz.</span>
    </p>
    <p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:right;line-height:150%;">
      <strong><span style='font-family:"Times New Roman",serif;'>King Kong Kongre Eğitim ve Organizasyon Ticaret Ltd.
          Şti.</span></strong>
    </p>
  </div>
  <div class="footer-modal">
    <button type="button" class="send-button" (click)="modal.close('Cross click')">Onayla</button>
  </div>
</ng-template>